[2016-06-29 23:24] oksas opened #2 "Windows support?"
I was a little reluctant to post this because I don't really feel like I can give a lot of info on this, but I just downloaded Astrum on two of my Windows machines (both running 64-bit Windows 7) and while it seemed to install just fine with `npm install astrum -g`, running `astrum init ./public/pattern-library` causes the terminal to just hang, for as long as I'll let it, with no sort of errors o

[2016-06-30 03:16] jondkinney opened #3 "Add support for preview.html file that overrides markup.html allowing template languages to be used in the markup file."
For instance, in a rails app, we'd use ERB, or HAML, or SLIM. I suppose we could just write using the templating language of our choice in the .html file? Not sure what implications that'd have for syntax highlighting though.

[2016-06-30 07:51] matt-west commented on #3
Hi @jondkinney,

For the initial release of Astrum we've focussed on just supporting HTML for component templates.

You can add ERD, HAML, or SLIM into the `markup.html` file and it will get displayed in the code example, however the preview will not work as Astrum does not currently support these templating languages.

We've previously discussed adding support for a `preview.html` file that would

[2016-06-30 09:48] osalvador commented on #2
Hi,

I have exactly the same problem. I'm using windows 10 64bits node v4.4.7.

[2016-06-30 10:15] jondkinney commented on #3
@matt-west thanks for getting back to me and for all your work on Astrum! The situation you describe is a step in the right direction, I think, but my goal would be to have the component source code available to copy/paste in the templating language it's written in so that we wouldn't have to reverse engineer the HTML to SLIM, for example.

[2016-06-30 12:56] MrSunshyne opened #4 "Can't create a new component"
I tried creating a new component with the example command.

I get this error

[code]

not sure what's up

I installed using npm -g as usual.

[2016-06-30 12:59] matt-west commented on #4
Hi @MrSunshyne,

Which node version are you running?
`node -v`

[2016-06-30 13:10] RyanHavoc commented on #2
@oksas @osalvador I've just published a new release that should resolve your issues. Run:

    npm update -g astrum

[2016-06-30 13:12] matt-west commented on #3
@jondkinney Apologies my explanation was not as clear as it could be. Adding a `preview.html` file would allow you to display the template language version in the code example to copy and paste, and have the component preview with pure HTML. The example component structure would be.

- `description.md` - The component description.
- `preview.html` - Pure HTML version of the component used for the

[2016-06-30 13:16] jondkinney commented on #3
Aaah, gotcha. That's definitely a workable solution! I guess the main downside would be needing to specify the source code in both the templating language and pure HTML, so if something changes you'd have to update it in both places. But yea, definitely that would allow us to start using it now!

[2016-06-30 13:24] matt-west commented on #3
Cool. I've added this to the roadmap. https://github.com/NoDivide/astrum/wiki/Project-Roadmap

[2016-06-30 15:24] anandpatel opened #5 "Live Reload"
I just watched your video demo and Astrum looks very interesting, the only thing which I noticed was the reloading of the page. Is it possible to use with with something like [browsersync](https://www.browsersync.io/) for live reloading?

Thanks

[2016-06-30 17:59] oksas commented on #2
It works now :dancer: Thanks so much @RyanHavoc for such a quick fix (and for all your work on Astrum in the first place). Very much looking forward to using Astrum :D

[2016-06-30 18:36] RyanHavoc commented on #2
@oksas No worries. Thanks for bring the issue to our attention. Hope you enjoy Astrum. :-)

[2016-06-30 18:46] RyanHavoc commented on #5
@anandpatel Not currently but it's not out of the question. Adding this feature will require some thought as Astrum doesn't have it's own compiled assets than can be monitored to trigger a live reload. We'd need to hook into the parent projects changes and probable turn off the the "building pattern library" message during live reload as well. Yeah, would require a bit of thought. What I'll do is

[2016-07-04 07:50] luvmex opened #8 "Can't index.html to show"
Finish the Getting Start step,
then open index.html file saw the loading and will run forever.

Try to deploy to Firebase will get error deploy.

Is there anyway to show in the browser?

open console get this four errror.
Failed to load resource: net::ERR_FILE_NOT_FOUND
vue-resource.min.js:7 XMLHttpRequest cannot load file:///Users/zhengyen.hsieh/GitHub/Astrum/pattern-library/data.json?cb=Mon%20Ju

[2016-07-04 08:14] matt-west commented on #8
Hi @luvmex, You will need to run Astrum through a web server as it relies on AJAX requests to load components, which are restricted when serving files directly from your hard drive.

Running Astrum through a local development environment like [Homestead](https://laravel.com/docs/5.2/homestead), [MAMP](https://www.mamp.info/en/), or [XAMPP](https://www.apachefriends.org/index.html) will solve this

[2016-07-04 08:14] #8 closed

[2016-07-04 12:47] NicoMai opened #9 "Error opening OpenSans from google"
Failed to load resource: Die angeforderte URL wurde auf diesem Server nicht gefunden.
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel='stylesheet' type='text/css'>

[2016-07-04 12:51] RyanHavoc commented on #9
Hi @NicoMai. Please could you provide us with any further information? What browser are you using? What OS are you on? Do you have the library anywhere public that we can access?

[2016-07-04 13:36] NicoMai commented on #9
Hey. I'm using Safari under OSX 10.12 Sierra. I have a very simple fix that i want to pull. At the moment i have no permission for that.

[2016-07-04 13:38] RyanHavoc commented on #9
@NicoMai OK. If you fork the repo and submit a pull request we can review your fix. Thanks.

[2016-07-04 13:40] #9 closed

[2016-07-04 18:21] RyanHavoc commented on #4
@MrSunshyne We're going to assume you've resolved this issue by upgrading your npm and it can be closed. If you're still having issues do let us know and we'll re-open.

[2016-07-04 18:21] #4 closed

[2016-07-04 19:31] thierryskoda commented on #8
Hi, I had the same error as @luvmex and I tried to fix the issue by creating a node server that is rendering the index.html in pattern-library.

Now I have the error : ```main.min.js:1 Uncaught SyntaxError: Unexpected token < ```   in the console of my browser.

Do you have any idea what could cause this?

Thank you very much!
Thierry

[2016-07-05 06:45] rahcon opened #11 "Init error "ENOENT: no such file or directory""
I tried to initialize astrum as recommended. But everytime I try to init I run into this error:
`Error: Error: ENOENT: no such file or directory, lstat '/Users/-/${HOME}/.npm-packages/lib/node_modules/astrum/_template'
/Users/-/.npm-packages/lib/node_modules/astrum/manager/utils.js:31
            throw(new Error(chalk.red("No data.json file found in " + _this.$config.path )));
Error: No data.json

[2016-07-05 11:15] DrChills opened #12 "Package with basic node.js server option"
Hi there, great work!

I was wondering if there is a  problem with bundling Astrum with a node server? It might make installation and usage a little easier, and make astrum a more 'complete' solution

[2016-07-05 11:16] DrChills commented on #5
+1

[2016-07-05 13:07] NicoMai opened #13 "Demo as standalone repository"
Great work and you have a wonderful Demo to view.

Is it possible that the Demo gets an own repository here on github to view the source of the Demo as an example to use Astrum?

[2016-07-05 13:09] RyanHavoc commented on #13
@NicoMai Thanks. The demo's already in the repo: https://github.com/NoDivide/astrum/tree/gh-pages/pattern-library 😀

[2016-07-05 13:09] #13 closed

[2016-07-05 13:21] NicoMai commented on #13
@RyanHavoc Thanks. That's another branch, so i can't see it in the "normal" fork.

[2016-07-05 16:03] anandpatel opened #16 "Color Palette"
Is it possible to use RGBA values as well as HEX values in the colors array?

[2016-07-05 16:20] RyanHavoc commented on #16
@anandpatel No presently but it wouldn't be too difficult to add the feature in. I've marked this issue as a feature request and added it to our roadmap.

[2016-07-05 16:20] #16 closed

[2016-07-06 00:54] TomFreudenberg opened #17 "FAQ: How compared to React StoryBook or UI Harness"
Hi, I am really impressed of your work and like to get a bit deeper in it.

We are doing most of our jobs currently within meteor and react.

Therefor we are using React StoryBook (https://github.com/kadirahq/react-storybook) to build, test and describe our UI components.

How would you differ to that tool? There are some more like StoryBook e.g. UI Harness (http://www.uiharness.com/start) or Chro

[2016-07-06 10:15] luvmex opened #18 "Add your component markup message."
#### Tell us about the issue you are experiencing

I add a color pattern use Command Line and deploy to server then page get this message.

"Add your component markup to /components/branding/color-palette/markup.html"

and then I add this  to data.json file.

   "group": "branding",
                    "name": "color-palette",
                    "title": "ccccccc",
                    "colors": [

[2016-07-06 10:43] daspete opened #19 "Including components in other components"
Is it possible to include a component in an other component?

so for example:
you have an image component and would like to implement this in a slider component (looping through a json array with the datas for each image component)

[2016-07-06 12:05] RyanHavoc commented on #18
@luvmex I believe you've not added the `--type colors` option when creating the component. You can do this manually in your data.json file by adding a `type` key with the value of `colors` to the component like so:

    "group": "branding",
    "name": "color-palette",
    "title": "ccccccc",
    "type": "colors"
    "colors": [
        "#4c4c4c",
        "#7d8284",
        "#a6b1b5",
        "#e6

[2016-07-06 12:05] #18 closed

[2016-07-06 12:20] RyanHavoc commented on #19
@daspete Not presently. This would be an interesting challenge to find a solution to with the way Astrum currently works. I'll add this as a feature request for review.

[2016-07-06 12:20] #19 closed

[2016-07-06 12:29] ayoungh opened #20 "Pattern library has already been initialized"
#### Tell us about the issue you are experiencing

I am on windows 10, I can't seem to get init to work, should it work without a path if I am in the folder I want it to be installed in?

#### What behaviour would you expect?

#### How can this issue be replicated?

![image](https://cloud.githubusercontent.com/assets/404328/16617741/50962406-437d-11e6-968b-889271ddda8a.png)

#### Screenshots / Scr

[2016-07-06 13:54] RyanHavoc commented on #20
Try deleting your `astrum-config.json` and from the folder you want to initialise into run:

`astrum init ./pattern-library`

Does that work?

[2016-07-06 14:34] ayoungh commented on #20
Yes, Thanks (Does it need to have this path to do the init?)

[2016-07-06 14:34] #20 closed

[2016-07-06 14:46] RyanHavoc commented on #20
@ayoungh You do need to specific somewhere to initialise Astrum into yes.

[2016-07-06 16:14] matt-west commented on #12
@DrChills Thanks for the request. I think this would be a useful thing to implement. I've added it to [our roadmap](https://github.com/NoDivide/astrum/wiki/Project-Roadmap).

[2016-07-06 16:20] matt-west commented on #11
Thanks for reporting this @rahcon. It appears that this is an issue when running Astrum under Node 4.4.7. I've tested with 4.4.5 and it's working correctly.

I'll look into this further and get back to you.

[2016-07-06 16:26] matt-west commented on #11
@rahcon Can you please try updating to the latest version of Astrum (1.5.10). It looks like this bug may have already been fixed.

[2016-07-07 00:52] luvmex commented on #18
I try the command line with "--type colors" but it didn't come up "data.json" file.
but I manually add the "type" and "colors" line, that can be use and show.

Thanks very much @RyanHavoc

[2016-07-07 09:28] craigcoles opened #21 "Browser Resize"
Top work folks! I do have one quick question...

Is there a reason as to why the loading screen is shown on resize? The only reason I ask is because it is hard to see how components behave on browser resize.

[2016-07-07 09:47] RyanHavoc commented on #21
To be honest it's a bit of a legacy feature that we out in during Astrums first iteration. We're planning on removing it during an upcoming release.

[2016-07-07 10:36] RyanHavoc commented on #21
I've added this to our development roadmap. [https://github.com/NoDivide/astrum/wiki/Project-Roadmap](https://github.com/NoDivide/astrum/wiki/Project-Roadmap)

[2016-07-07 10:36] #21 closed

[2016-07-07 10:39] RyanHavoc commented on #18
That's strange. Are you on Windows or Mac?

[2016-07-08 20:36] ZakkMan opened #22 "No way to check version of Astrum from the command line"
#### Tell us about the issue you are experiencing
Running `astrum -v` or `astrum --version` does not return the current version of astrum installed locally.

#### What behaviour would you expect?
I would expect that these commands would list the current version of Astrum.

#### How can this issue be replicated?
Run: `$ astrum -v` or `$ astrum --version`

#### Screenshots / Screencast

![screen sho

[2016-07-08 20:37] ZakkMan opened #23 "Error thrown when trying to init Astrum in the current folder or a folder that already exists."
#### Tell us about the issue you are experiencing

If I create the folder with `mkdir pattern-library` then run `astrum init pattern-library` or try to run `astrum init .` I get the following error:

[code]
#### What behaviour would you expect?

I would have expected that the cli would initialize Astrum within the folder if it already exists or that it would be possible to initialize Astrum in the

[2016-07-10 09:34] matt-west commented on #23
@RyanHavoc Could you please take a look at this one when you get chance.

[2016-07-10 09:36] matt-west commented on #22
@ZakkMan I completely agree. Sorry that we missed this. I'll make sure it gets added in soon.

I've added this to our [roadmap document](https://github.com/NoDivide/astrum/wiki/Project-Roadmap).

[2016-07-10 09:36] #22 closed

[2016-07-11 09:26] RyanHavoc commented on #22
@ZakkMan This is now available in Astrum 1.5.12!

`$ astrum -I`

Returns the Astrum instance you have installed.

`$ astrum -V`

Returns the version of Astrum you have installed via npm.

[2016-07-11 09:32] RyanHavoc commented on #23
@ZakkMan I'm going to mark this as a feature request. I'll need to add in some detection to have Astrum install into a pre-existing folder. The thought process was that Astrum would be installed into a "clean" folder so that no existing files could be overwritten when Astrum is installed/updated. I'll need to add a check to ensure the folder is empty when you run `astrum init` to initialise into t

[2016-07-11 09:32] #11 closed

[2016-07-11 09:37] craigcoles opened #24 "Sharing local build"
#### Tell us about the issue you are experiencing

When I share my local build with someone (via IP address on the same network), it is looking for the files on there machine.

#### What behaviour would you expect?

For the person who I shared my local build with, to see my local build.

#### Your environment

Astrum Version: 1.5.12

[2016-07-11 16:30] NicolaSansom opened #25 "Attach a variable name to a color"
Would it be possible to attach a variable name in addition to a hex code when creating a color within the color component type?

[2016-07-11 16:33] RyanHavoc commented on #25
@NicolaSansom Not currently. I'll add this as a feature request.

[2016-07-11 16:36] #25 closed

[2016-07-12 09:03] leex279 opened #26 "FAQ: Is it possible to disable preview of code and just show code sample?"
#### Tell us about the issue you are experiencing

I want to use the framework to do patterns für Templating-Code of an CMS. There are CMS-Variables in the code so that there is no possibility to show a preview.
#### What behaviour would you expect?

I expect an parameter like "show_component_preview" to define wheter there is a preview or not. Also it would be nice to set "show code" for default.

[2016-07-12 10:52] RyanHavoc commented on #26
I like it, and shouldn't be too difficult to implement. I've added this to our feature requests list: [https://github.com/NoDivide/astrum/wiki/Project-Roadmap](https://github.com/NoDivide/astrum/wiki/Project-Roadmap)

[2016-07-12 10:55] RyanHavoc commented on #24
@craigcoles I'm not sure how to test this here. How are you setup? Have you tried resolving the IP to a hostname?

Astrum makes Ajax calls to load in it's components so it must be getting confused somewhere along the way.

[2016-07-12 10:55] RyanHavoc commented on #17
@TomFreudenberg Good questions. I'm going to write a blog post about this, I'll post a link in the comments when it's up. Thanks.

[2016-07-12 10:55] #17 closed

[2016-07-12 11:38] craigcoles commented on #24
@RyanHavoc I am using python SimpleHTTPServer to serve the styleguide locally, so it is running on `localhost:8000`. If someone uses my IP and visits that address `http://192.168.XX.XXX:8000/` it throws an error trying to find the files

[2016-07-12 14:34] sethwhitaker opened #27 ""Building Pattern Library...""
First off, Love this project! Very simple, cant wait to see what you guys have in store.

Had a question about the loading/building.

In my local setup, I have significantly reduced the `timeouts` set during the page loading process in `app/main.js` because I was getting a bit annoyed at waiting 2 seconds for every refresh.

Is there a downside to this while the components are loaded? So far I hav

[2016-07-12 15:58] RyanHavoc commented on #27
Hi Seth,

With regards to the resizing we're going to phase that out. The original design for Astrum was quite different and at the time we decided to mask the transition between breakpoints while the interface adjusted itself because things were looking broken. This is no longer the case but the resizer is still in there waiting to be removed.

With regards to the load time Astrum detects when co

[2016-07-12 15:58] #27 closed

[2016-07-13 09:08] danielfilho commented on #24
try using `http://xip.io/`. it works like a charm in my case :)

[2016-07-14 00:44] brendastorer commented on #25
+1 Came here to ask about this!

[2016-07-14 10:01] leex279 commented on #26
Thanks, that would be very nice :)

[2016-07-14 15:12] bbyms opened #29 "Javascript problem"
Hi,

This is not really an issue, but a problem I'm having. I want to use JS files with my pattern library: material design lite, jquery and kendo and although I'm including them in the data.json file, it doesn't seem to be working.

This is my file:

"assets": {
        "css": [
          "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css",
          "https://fonts.googl

[2016-07-14 18:06] sethwhitaker commented on #27
Seems a bit opinionated for the pattern library to decide when something is visible or not. Wouldnt it make more sense to leave that up to the developers and their own design system?

Maybe im not fully understanding the reasoning behind it or what actually is being hidden.

[2016-07-14 18:26] RyanHavoc commented on #27
@sethwhitaker I think you're misunderstanding. Say for example you have a component that's visible on desktop but hidden on mobile, or vice-versa. Instead of showing an empty sample Astrum show's a message that say's "This component is hidden at this resolution.".

To detect if the component is hidden or not it checks it's rendered height. If it's 0 it's hidden and the message is shown.

Astrum is

[2016-07-14 18:53] sethwhitaker commented on #27
@RyanHavoc Ah ok, thanks for the clarification.

[2016-07-14 19:13] RyanHavoc commented on #29
@bbyms Try removing the ../ from your paths. The paths aren't relative to your file system they're relative to the URL so in effect what Astrum is trying to resolve, for example, http://yourdomain.com/../js/jquery.min.js

[2016-07-19 01:55] mortocks opened #30 "Creating first group throwing js errors"
#### Tell us about the issue you are experiencing
errors with creating first group in brand new project

#### What behaviour would you expect?
creating new group without throwing errors

#### How can this issue be replicated?
(in public folder)
sudo npm install -g astrum
astrum init ./pattern-library
astrum new buttons/default

#### Screenshots / Screencast
![screenshot1468893186 2x](https://cloud

[2016-07-19 08:02] RyanHavoc commented on #30
@mortocks If you upgrade your version of NPM this error will go away.

[2016-07-19 09:54] Kikobeats opened #31 "[Question] general docs purpose"
I was looking for something like that but oriented for generic docs purpose.

Just need to attach the markdown files to be rendered. Similar to [docpress](https://docpress.github.io/getting-started/more-pages.html).

Do you think that could be possible?

[2016-07-19 10:31] prolax opened #32 "[Suggestion]"
Any plans to introduce the ability to create more than just half-width and full-width components?

Would be awesome to see 20 & 25% sizes supported too :+1:

[2016-07-19 11:26] RyanHavoc commented on #31
At the minute Astrum requires at least 1 component to render but otherwise you could just use the pages section to render your docs. It is limited though. We have plans to expand on the capabilities of the pages feature though. I'll add this to our development roadmap for review: [https://github.com/NoDivide/astrum/wiki/Project-Roadmap](https://github.com/NoDivide/astrum/wiki/Project-Roadmap)

Out

[2016-07-19 11:28] RyanHavoc commented on #32
Never say never. However with the descriptions as well things might start to feel squared. I'll add this as a feature request though.

[2016-07-19 11:28] #32 closed

[2016-07-19 11:29] #29 closed

[2016-07-19 11:33] Kikobeats commented on #31
I used docpress for write documentation for a couple of projects, but it only provides one theme and write more themes is a [little difficult](https://github.com/docpress/docpress-base/issues/109). I want to use the same docs engine but creating different output and astrum looks more customizable for this purpose.

[2016-07-20 11:19] prolax opened #33 "Styling conflicts with HTML element"
Using custom styled pre tags breaks astrum's pre tag styles, not sure if you can do much about that.

I've added a class to my pre tags and used that as the selector in css, not ideal as it's not how I'll be selecting it in production but it works just as well

[2016-07-20 12:18] RyanHavoc commented on #33
@prolax Could you link us to an example of the issue you're having?

[2016-07-27 08:34] prolax commented on #33
@RyanHavoc I'm using "pre" tags in my styleguide, but as you can see have had to add a class to the tags so I don't have any styling conflicts with the "pre" tags being used as part of Astrum.

If there was a class added then Astrum could select just those "pre" tags instead of styling the default element.

Hope that makes sense.. :)

![pre](https://cloud.githubusercontent.com/assets/6736105/17168

[2016-07-27 09:08] RyanHavoc commented on #33
@prolax We've resolved this in the latest release 1.5.15. You shouldn't need to set a class now.

[2016-07-27 09:08] #33 closed

[2016-07-27 13:49] NicoMai opened #34 "TypeError in main.js"
#### Tell us about the issue you are experiencing
TypeError in main.js -> undefined is not an object (evaluating 'this.content.pages.length') at isLoadingPage at line 468

#### What behaviour would you expect?

#### How can this issue be replicated?
Initiate a new project with the actual version. I added a Color Scheme and an element for Buttons.

#### Screenshots / Screencast
[Konsole Safari](htt

[2016-07-27 14:00] RyanHavoc commented on #34
@NicoMai Please could you paste the contents of your data.json file here?

[2016-07-27 14:02] NicoMai commented on #34
`{
    "project_logo": null,
    "project_favicon": "favicon.png",
    "project_name": "deleted",
    "project_url": "deleted",
    "copyright_start_year": "2014",
    "client_name": "deleted",
    "client_url": "deleted",
    "creators": [
        {
            "name": "Nico",
            "url": null
        }
    ],
    "theme": {
        "border_color": "#E0E6ED",
        "highlight_color": "#F

[2016-07-27 14:16] RyanHavoc commented on #34
I've pasted your data.json into a fresh instance of Astrum and it's loaded first time...

I notice that you're actually on Astrum 1.5.10. Try running:

    $ astrum update

To get the latest version. Let me know how you get on.

[2016-07-27 14:25] NicoMai commented on #34
I tried `astrum update` for three times and get the answer `Pattern library is up-to-date.`
Additional i tried `npm update -g astrum` without a message.

[2016-07-27 14:32] RyanHavoc commented on #34
Astrum is at version 1.5.15. Could you run `npm -g list` and see what version you have install globally?

[2016-07-27 14:48] NicoMai commented on #34
Sure ...
Here you can see the list:
/usr/local/lib
├─┬ astrum@1.5.10 -> /Users/nico/Documents/workspace/astrum/astrum
│ ├─┬ chalk@1.1.3
│ │ ├── ansi-styles@2.2.1
│ │ ├── escape-string-regexp@1.0.5
│ │ ├─┬ has-ansi@2.0.0
│ │ │ └── ansi-regex@2.0.0
│ │ ├── strip-ansi@3.0.1
│ │ └── supports-color@2.0.0
│ ├─┬ commander@2.9.0
│ │ └── graceful-readlink@1.0.1
│ ├─┬ cwd@0.10.0
│ │ ├─┬ find-pkg@0.1.2
│ │ │

[2016-07-27 15:01] bitstarr opened #35 "Extend color content type for color descriptions"
To streamline communication designers define clear names for colours, so everybody is talking about the same. Also these names may be used as CSS variables.

Take the following LESS code for example:
[code]

Please provide a way to add those information to a colour in the content type. I would wish to define the following information for a colour:
* colour
* complimentary/shade colour
* name
* var

[2016-07-27 15:14] RyanHavoc commented on #34
I see the problem. I'll write a fix, but you'll need to update your global Astrum once it's resolved. Looks like your using a form of Astrum locally?

[2016-07-27 16:33] #34 closed

[2016-07-28 08:38] RyanHavoc commented on #35
@bitstarr I've added this to our development roadmap and marked it as a feature request. [https://github.com/NoDivide/astrum/wiki/Project-Roadmap](https://github.com/NoDivide/astrum/wiki/Project-Roadmap)

[2016-07-28 08:38] #35 closed

[2016-07-28 12:23] NicoMai commented on #34
I have the local fork there and a second directory with the working instance of astrum.

[2016-07-28 13:01] NicoMai commented on #34
i'll try

[2016-07-28 13:04] RyanHavoc commented on #34
It should be:

[code]

[2016-07-28 13:46] NicoMai commented on #34
It should, but wasn't. After a short terminal session it works fine. But only with FireFox on macOS. In new Safari 10 i can only see the message "Building pattern library...".

[2016-07-28 15:11] bitstarr opened #37 "Not loading external images"
#### Tell us about the issue you are experiencing
I added an image to my markup which is not hosted on the same domain and it doesn't load.

#### What behaviour would you expect?
Images should be loaded without a restriction of host/cross domain.

#### How can this issue be replicated?
I used this example:
[code]

#### Your environment

Platform: Debian/Apache
Node Version: 5.10.1
NPM Version:  3.

[2016-07-28 15:16] bitstarr opened #38 "Add facility to toggle hide sidebar."
As Designer or Developer I would like to see how my components behave when I resize the viewport.

The left side navigation of Astrum takes space that could break the design of components which rely on the whole viewport width.

Please add a functionality to hide sidebar temporary.

[2016-07-28 16:37] RyanHavoc commented on #38
@bitstarr Nice idea. Added: https://github.com/NoDivide/astrum/wiki/Project-Roadmap

[2016-07-28 16:38] RyanHavoc commented on #37
@bitstarr Just for arguments sake, try adding a protocol to the src, e.g. http.

[2016-07-29 07:51] bitstarr commented on #37
@RyanHavoc I tried but it hasn't changed.

[2016-07-29 08:21] RyanHavoc commented on #37
@bitstarr That's strange. I don't understand how this could be an Astrum issue. We use images that aren't hosted on the same domain all the time, our demo for example renders images from imgix: [http://astrum.nodividestudio.com/pattern-library/#group-tabs-component-tab-panes](http://astrum.nodividestudio.com/pattern-library/#group-tabs-component-tab-panes)

[2016-07-29 09:14] bitstarr commented on #37
@RyanHavoc You are right. Seems that some dummy image providers are not working. I switched to placeimg.com which works. Maybe it's because of the server configuration. But i can't say what's the exact reason for this behaviour.

Sorry for the disruption :(

[2016-07-29 09:14] #37 closed

[2016-07-29 15:56] zachfedor opened #39 "Changes to /pages/intro.md don't register"
#### Tell us about the issue you are experiencing
I have edited `/pages/intro.md` to replace the default content with a simple paragraph. However, the original content is still showing. Grepping every file in the project for the original content comes up empty, so it must be a cacheing issue. I've refreshed the page in Chrome, hard refreshed it, and even restarted the [http-server](https://www.npm

[2016-07-31 20:38] inspiredtolive opened #40 "Can't read terminal text without highlighting or changing background color"
#### Tell us about the issue you are experiencing
When setting options to new components, the terminal text is the same color as the terminal background making it unreadable without highlighting the text.

#### What behaviour would you expect?
I expected the text to be a different color than the terminal's background color or virtually any color other than black.

#### How can this issue be replic

[2016-07-31 20:39] #40 closed

[2016-07-31 20:40] inspiredtolive commented on #40
Sorry, just noticed that my terminal was using the color black for **bold text**

[2016-08-03 09:56] mofodox opened #42 "How to add multiple custom stylesheet & javascript files using data.json?"
#### Tell us about the issue you are experiencing

Currently, I'm experiencing an issue where I can't get my custom stylesheet and javascript files to work. Maybe it's me I guess. This doesn't have any issue with Bootstrap though. Does it really possible to use multiple stylesheet and javascript files?

#### What behaviour would you expect?

I just want to get my custom stylesheet & javascript fil

[2016-08-03 13:27] MichalSvatos commented on #42
This doesn't work for you?
[code]

[2016-08-03 17:57] Oxicode commented on #30
me too

![image](https://cloud.githubusercontent.com/assets/1320709/17375992/24e978d2-5979-11e6-80c5-ddd678dddb8a.png)

OS: Ubuntu 14.04 trusty
Kernel: x86_64 Linux 4.2.0-c9
Node v0.10.35
Npm: 1.4.28
Astrum: 1.5.16

[2016-08-03 18:18] matt-west commented on #30
@oxicode can you please try updating to the latest version of node.

[2016-08-03 19:16] RyanHavoc commented on #42
@mofodox Could you share your `data.json` file?

[2016-08-03 20:00] Oxicode commented on #30
Thx

[2016-08-03 20:30] #39 closed

[2016-08-03 20:31] RyanHavoc commented on #39
@zachfedor This has been fixed in the latest release.

[2016-08-03 20:33] #24 closed

[2016-08-03 20:33] #30 closed

[2016-08-04 02:19] mofodox commented on #42
@RyanHavoc @MichalSvatos Here's the assets object from the [data.json file](https://cl.ly/1I3v3k2s3K3l)

[2016-08-04 04:45] mofodox opened #43 "Stuck at 'Building pattern library...' screen"
#### Tell us about the issue you are experiencing

The pattern library is not loading... I'm stuck at 'Building pattern library' screen.

#### What behaviour would you expect?

It supposed to load the pattern library and suddenly I'm experiencing. I noticed after I edited the ```intro.md``` file. Before it works smoothly.

#### How can this issue be replicated?

Nil

#### Screenshots / Screencast

[2016-08-04 04:52] mofodox commented on #39
@RyanHavoc Experiencing the bug on the latest version. Here's the issue ticket: [#43](https://github.com/NoDivide/astrum/issues/43) :(

[2016-08-04 08:11] RyanHavoc commented on #43
@MichalSvatos Open up your Web Inspector. Are you getting any errors on the console? Can you send me a screenshot?

[2016-08-04 08:16] RyanHavoc commented on #43
@mofodox I've just tested the latest version 1.5.17 with a fresh instance and it builds correctly. Have you updated Astrum:

`npm update -g astrum`

Then updated your instance (from the root folder):

`astrum update`

[2016-08-04 08:19] RyanHavoc commented on #42
@mofodox That should work... try running your data.json file through a validator: [http://jsonlint.com/](http://jsonlint.com/)

Do you get any errors?

[2016-08-05 03:08] mofodox commented on #42
@RyanHavoc The json file is valid. No errors 👍

[2016-08-05 03:14] mofodox commented on #43
@RyanHavoc Here's the [screenshot](https://cl.ly/3L1D2J1k043a). I received 2 errors.

I'm about to update astrum. I'll let you know if it's fixed.

[2016-08-05 05:04] mofodox commented on #42
@RyanHavoc All's good the files are loaded. Thank you! :)

[2016-08-05 13:38] #42 closed

[2016-08-05 13:40] RyanHavoc commented on #43
@mofodox Validate your json file to ensure there are no errors and if it's still occurring paste your `data.json` file here for us to have a look.

[2016-08-06 16:41] yisraelgrimes commented on #43
I seem to be having the same problem. The difference is that mine has been stuck at the building screen since I installed it. Should I start another thread?

[2016-08-06 16:48] mofodox commented on #43
@RyanHavoc Noted!

[2016-08-06 16:50] mofodox commented on #43
@yisraelgrimes Do you have a local server setup? Because that's what I've experienced before. If you don't install MAMP or XAMPP and when you ```astrum init [path_to_htdocs]```, it will start running the pattern library.

[2016-08-06 16:53] yisraelgrimes commented on #43
I do, but this project is a kind of a static html testing environment so isn't running through the server. I'll move it over and see if that fixes it.

[2016-08-06 17:20] yisraelgrimes commented on #43
Huzzah! Thanks for the help!

[2016-08-07 06:13] mofodox commented on #43
@yisraelgrimes No worries! Glad to help ;)

[2016-08-07 06:14] mofodox commented on #43
@RyanHavoc Oh it's all working now ;)

I'll close the thread. Thank you! 😊

[2016-08-07 06:14] #43 closed

[2016-08-08 02:56] mofodox opened #44 "jQuery not loading"
#### Tell us about the issue you are experiencing

jQuery not load for the pattern library. I received the error on the web console. I've included the jQuery library on the ```data.json```

#### What behaviour would you expect?

It should be loaded via ```data.json```

#### How can this issue be replicated?

Nil

#### Screenshots / Screencast

Here are a couple of screenshots on the error and my `

[2016-08-08 03:46] Nibblesh opened #45 "Component type - markup typo"
#### Tell us about the issue you are experiencing

the markdown has two different types of dashes which won't be parseable by a console for the script in the following section:
https://github.com/NoDivide/astrum#component-types

astrum new branding/color-palette —-type colors

[2016-08-08 08:16] matt-west commented on #45
Hi @Nibblesh,

We were having some issues were GitHub was converting `--` to `–` which was messing with the code samples and so we changed to using two different dashes. It looks like they've resolved this issue now so I've updated the docs.

[2016-08-08 08:16] #45 closed

[2016-08-08 08:25] matt-west commented on #44
Hi @mofodox,

The JavaScript assets specified in the `data.json` are loaded asynchronously after the initial page load. I'm pretty sure that your other JS files are loading before jQuery and that's why you're getting the error. Unfortunately we don't currently have a solution for this through the `data.json` file.

As a workaround, please edit the `index.html` file and include jQuery before the `<

[2016-08-09 16:03] henwen opened #46 "Hide portions of code samples"
Displaying a component in its full glory often requires a good amount of placeholder content (lorem ipsum,  placehold.it images, fixed-height divs to diagram layouts). This placeholder content can clutter up the code sample, making it less readable for users.

It'd be great to optionally hide portions of code from the sample. This could be as simple as wrapping it in a comment flag.

Code in `mark

[2016-08-09 21:16] henwen opened #47 "Set max-width for markdown text"
Just a simple UX/readability issue here –

Without a `max-width` for rendered markdown on `Pages` and full-width `Components`, each line of text runs very long on medium/large screens (150+ characters per line vs the [recommended](http://baymard.com/blog/line-length-readability) 50-75 characters).

[2016-08-10 08:05] matt-west commented on #47
Thanks for the suggestion @henwen. I completely agree. I'll make sure this gets in the next release.

[2016-08-10 08:06] #47 closed

[2016-08-10 08:15] matt-west commented on #46
Good proposal @henwen. I agree that having this functionality would be valuable.

We're currently exploring the possibility of adding a really simple templating language to make it easier to re-use component markup within other components in Astrum. I think it would be a natural fit to add this into the mix at the same time.

I've added this request to our roadmap document.
https://github.com/NoDi

[2016-08-10 08:15] #46 closed

[2016-08-10 08:15] matt-west commented on #44
@mofodox Just checking in to see if you managed to resolve this?

[2016-08-10 08:18] mofodox commented on #44
@matt-west Oops almost forgot to give you the update! I tried the solution you gave. And it's working ;)

Thank you!

[2016-08-10 08:19] matt-west commented on #44
@mofodox Awesome :)

[2016-08-10 08:19] #44 closed

[2016-08-10 11:24] raffomania opened #48 "Astrum does not work when offline"
#### Tell us about the issue you are experiencing

When disconnecting from the internet, Astrum stops working because all the assets are loaded from CDNs.
#### What behaviour would you expect?

When offline, Astrum works as usual.
#### How can this issue be replicated?

Disconnect from the internet and load the application.
#### Screenshots / Screencast

http://i.imgur.com/CJZXz7L.png
#### Your en

[2016-08-10 16:38] henwen commented on #47
Excellent. Thanks for the quick response.

[2016-08-11 08:04] matt-west commented on #48
Hi @raffomania, I've added this to our roadmap.
https://github.com/NoDivide/astrum/wiki/Project-Roadmap

[2016-08-11 12:22] raffomania commented on #48
I could prepare a PR if you want. What do you think of a small function in `manager/utils.js` that downloads the correct versions when running `astrum new` or `astrum update`?

[2016-08-12 18:51] dlewand691 opened #49 "Facility to present groups as "pages" rather than one long page with everything on."
Wondering if there's a way for groups to have their own separate pages instead of the entire guide on one long page?

If not currently, would be a great feature to have.

Starting my first guide with Astrum and so far it's a god-send. Thank you!

[2016-08-12 21:22] dlewand691 opened #50 "Custom fonts"
What is the recommended best practice to use a custom set of fonts other than Typekit, etc.?

[2016-08-15 08:38] RyanHavoc commented on #50
@dlewand691 Are you referring to using @font-face instead of a service?

[2016-08-15 08:46] RyanHavoc commented on #22
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;kKgBI1PQ&#x2F;1-add-ability-to-determine-astrum-version-from-command-line"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add ability to determine Astrum version from command line</a>

[2016-08-15 08:48] RyanHavoc commented on #3
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;SYgMlcUG&#x2F;2-add-support-for-preview-html-file-that-overrides-markup-html-allowing-template-languages-to-be-used-in-the-markup-file"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add support for preview.html file that overrides markup.html allowing template languages to be used in th

[2016-08-15 08:49] RyanHavoc commented on #5
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;5fiNSamD&#x2F;3-add-support-for-live-reload"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add support for live reload.</a>

[2016-08-15 08:51] RyanHavoc commented on #16
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;34Ki1GAs&#x2F;9-add-rgba-support-to-color-component-types"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add rgba support to color component types.</a>

[2016-08-15 08:51] RyanHavoc commented on #19
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;7SoW2oRT&#x2F;10-component-embedding-within-other-components"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Component embedding within other components.</a>

[2016-08-15 08:53] RyanHavoc commented on #46
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;7SoW2oRT&#x2F;10-add-templating-functionality-for-increased-reusability"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add templating functionality for increased reusability.</a>

[2016-08-15 08:53] RyanHavoc commented on #12
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;GdUL6csx&#x2F;11-add-astrum-serve-command-that-launches-a-simple-node-js-server"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add astrum serve command that launches a simple node.js server.</a>

[2016-08-15 08:54] RyanHavoc commented on #21
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;rhrK3C5f&#x2F;12-remove-resizing-mask-as-this-is-now-a-deprecated-feature-that-s-no-longer-needed"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Remove resizing mask as this is now a deprecated feature that&#39;s no longer needed.</a>

[2016-08-15 08:55] RyanHavoc commented on #23
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;kzOCjTcD&#x2F;13-add-facility-to-initialise-astrum-into-a-pre-existing-folder"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add facility to initialise Astrum into a pre-existing folder.</a>

[2016-08-15 08:55] RyanHavoc commented on #25
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;d7FSkwy8&#x2F;14-add-custom-text-to-color-variables"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add custom text to color variables.</a>

[2016-08-15 08:56] RyanHavoc commented on #26
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;f5EpCotN&#x2F;15-facility-to-disabled-sample-previews-an-auto-show-code-samples"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Facility to disabled sample previews an auto show code samples.</a>

[2016-08-15 08:57] RyanHavoc commented on #31
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;v2lhlBzZ&#x2F;16-improve-documentation-facilities"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Improve documentation facilities.</a>

[2016-08-15 08:57] RyanHavoc commented on #35
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Vfr9YIHF&#x2F;17-extended-functionality-for-color-components"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Extended functionality for color components.</a>

[2016-08-15 08:57] RyanHavoc commented on #16
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Vfr9YIHF&#x2F;17-extended-functionality-for-color-components"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Extended functionality for color components.</a>

[2016-08-15 08:57] RyanHavoc commented on #25
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Vfr9YIHF&#x2F;17-extended-functionality-for-color-components"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Extended functionality for color components.</a>

[2016-08-15 08:58] RyanHavoc commented on #38
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;MQ11ilug&#x2F;18-add-facility-to-toggle-hide-sidebar"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add facility to toggle hide sidebar.</a>

[2016-08-15 08:59] RyanHavoc commented on #48
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Ry8YRTkf&#x2F;19-package-js-dependencies-with-astrum-so-that-it-works-offline-out-of-the-box"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Package JS dependencies with Astrum so that it works offline out of the box.</a>

[2016-08-15 10:08] Kikobeats commented on #31
nice! thanks!!! 💃

[2016-08-15 10:36] RyanHavoc commented on #49
@dlewand691 This would require some substantial restructuring of how Astrum works. I'll add it to our Development Roadmap and let people vote on it and give feedback.

[2016-08-15 10:36] RyanHavoc commented on #49
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ngLDpNYD&#x2F;20-facility-to-present-groups-as-pages-rather-than-one-long-page-with-everything-on"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Facility to present groups as &quot;pages&quot; rather than one long page with everything on.</a>

[2016-08-15 13:32] raffomania opened #52 ""Realigning Pattern Library" gets really annoying"
#### Tell us about the issue you are experiencing
When developing responsive components, I'm resizing the browser window a lot. Waiting for 1-2 seconds for the message "Realigning pattern library" to go away gets annoying.

#### What behaviour would you expect?
No message or other transition. Modern CSS allows a page to be responsive without rebuilding the page.

#### How can this issue be replica

[2016-08-15 14:35] leex279 commented on #26
Hey,
is the feature "auto show code samples" alreasy released? I cant find it in documentation.

greeting
thomas

[2016-08-15 15:05] RyanHavoc commented on #26
@leex279 Apologies. I've miss-assigned this. We've just released the disabling of code samples to only show the previews but your want the inverse. I'll update it on the roadmap.

[2016-08-15 15:06] RyanHavoc commented on #26
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ZuWwKDgs&#x2F;21-component-option-to-disable-preview-and-only-show-code-samples"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Component option to disable preview and only show code samples.</a>

[2016-08-15 15:11] RyanHavoc commented on #52
@raffomania This is on our development roadmap. This is a legacy feature we'll be removing in the next release.

[2016-08-15 15:11] #52 closed

[2016-08-15 15:12] RyanHavoc commented on #52
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;rhrK3C5f&#x2F;12-remove-resizing-mask-as-this-is-now-a-deprecated-feature-that-s-no-longer-needed"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Remove resizing mask as this is now a deprecated feature that&#39;s no longer needed.</a>

[2016-08-15 15:14] dlewand691 commented on #50
Yep. I know you can just use your own CSS file which is fine, but is there a cleaner way other than that?

[2016-08-15 15:18] dlewand691 opened #53 "Add an additional tier of grouping."
When building my guide, I'm finding that I have more than 1 sub-level deep I'd like to go. For instance- Global Elements > Typography > Headings. Right now you can't go that deep.

Would the ability to add a divider "title" be of interest? That way larger groups could be visually grouped together without affecting the overall structure of the system.

[2016-08-15 15:18] RyanHavoc commented on #50
If you want to include a web service other than Typekit we've added two helpers, one for Google Fonts and one for Typgraphy.com. Just paste the styles sheet they provide you in there. If you're using something other than those two services (and it's just a stylesheet that the service provides you) you can just add it to assets => css array.

If you're using a service that provides JS (like TypeKit

[2016-08-15 15:32] RyanHavoc commented on #53
@dlewand691 My concern would be over complexity. We've built quite large pattern libraries and only having two tiers has ensured we've kept things concise. Do you have an example of the structure you'd like to achieve beyond the one example you've stated?

[2016-08-15 16:13] dlewand691 commented on #53
Sure, totally understand. The example I gave could apply to any type of section. I'm working on a guide and have several sections that I'd like to get more in depth but can't because of the 1 level limit but would like to visually group them together. Things like development guidelines for HTML, CSS, Javascript, preprocessors, etc. or Global Branding Elements.

A divider would help visually separa

[2016-08-15 16:31] dlewand691 commented on #50
That's plenty, thank you for the clarification!

[2016-08-15 16:31] #50 closed

[2016-08-15 16:37] RyanHavoc commented on #53
@dlewand691 OK. I'll add this to our feature requests list on the development roadmap. Other users can vote on it and we can gauge interest.

[2016-08-15 16:37] RyanHavoc commented on #53
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;rty35hug&#x2F;22-add-an-additional-tier-of-grouping"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add an additional tier of grouping.</a>

[2016-08-15 16:37] dlewand691 opened #54 "Add a feature to allow components to be resized to different breakpoints at desktop."
The folks at Devbridge have a couple great features on their "Living Styleguide" that would be awesome to have in Astrum.

On hover and next to each of the components is a stacked icon that you can grab and resize the component to see how it works responsively. They also have a set of breakpoints in the header that you can use to toggle the entire page with.

Check out the demo and see what you th

[2016-08-15 17:06] RyanHavoc commented on #54
@dlewand691 That pretty cool but we've made Astrum responsive so that you can resize the browser to see how things look. If you resize the styleguide you linked to you'll see it's fixed width so it's expecting you to view the library on a desktop browser.

[2016-08-15 18:25] dlewand691 commented on #54
Sure, but rather than having to constantly resize the browser window it's nice to be able to quickly test single items with out the whole library realigning. It could get disabled on tablet and mobile and only work on desktop.

[2016-08-15 19:09] dlewand691 opened #55 "Overriding base styles.css and themes, please include master .scss file"
Would be great to have a default sass file included to override the base `styles.css` file and also control how it's minified, its output name and output directory. Without adding my own CSS I've had to un-minify and then manually edit elements in the minified CSS.

Some elements of the theme don't get applied properly as well. For example, I was expecting the classes `ndpl-component__sample-missi

[2016-08-15 19:30] dlewand691 opened #56 "Customize "Pattern Library" subtitle in side bar"
The subtitle "Pattern Library" would be nice to be flexible in case you don't want to use that description or leave off entirely.

[2016-08-15 22:30] dlewand691 opened #57 "Add option to hide groups/components."
Would it be possible to have the option to enable or disable a group or individual component? Would help greatly to be able to turn things on or off as needed as things progress without having to delete and then rebuild/re-add later.

[2016-08-16 08:07] RyanHavoc commented on #54
Well the realigning "feature" is being removed in the next version and we have plans to add the facility to toggle hide the sidebar as well so that the element area can become full width at desktop.

One of the goals has been to have a responsive pattern library for responsive sites/components so you can view the library on a tablet and that's what the components look like on a tablet for example.

[2016-08-16 08:11] RyanHavoc commented on #54
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;a6IxLKRa&#x2F;23-add-a-feature-to-allow-components-to-be-resizes-to-different-breakpoints-at-desktop"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add a feature to allow components to be resizes to different breakpoints at desktop.</a>

[2016-08-16 09:08] leex279 commented on #26
Ok, thank you. Am I right that it is not implemented because it is still on "_completed_" column on your board :).

[2016-08-16 09:17] RyanHavoc commented on #26
The card for this is in the Ideas/Requests list. The card in the Completed is for the inverse of what you want. You can disable the sample code currently but not the preview which is what you want.

[2016-08-16 10:27] EOGreer opened #58 "No dark preview background if code sample is disabled"
When adding a new component that requires a dark background for the preview, if you disable the code sample Astrum does not add `"sample_dark_background": true` into the data.json

<img width="355" alt="screen shot 2016-08-16 at 11 24 59" src="https://cloud.githubusercontent.com/assets/4273115/17696084/1736b4ae-63a4-11e6-9bd0-05cccd345de2.png">
results in
<img width="232" alt="screen shot 2016-08-

[2016-08-16 10:56] #58 closed

[2016-08-16 10:58] RyanHavoc commented on #58
@EOGreer Should be resolved now. Thanks for reporting it.

[2016-08-16 17:08] RyanHavoc commented on #55
All you have to do is include a stylesheet in assets => css to override Astrum's styles. You may have to use !important in some cases.

[2016-08-16 17:08] #55 closed

[2016-08-16 17:10] RyanHavoc commented on #56
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;0R340N7F&#x2F;24-facility-to-control-titles-on-sidebar"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Facility to control titles on sidebar.</a>

[2016-08-16 17:10] #56 closed

[2016-08-16 17:10] RyanHavoc commented on #57
No a bad idea. I'll add it to the development roadmap.

[2016-08-16 17:11] RyanHavoc commented on #57
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;39EIWRiF&#x2F;25-add-option-to-hide-groups-components"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add option to hide groups&#x2F;components.</a>

[2016-08-17 09:33] matt-west opened #59 "Issue with auto-scroll to components based on URL hash"
#### Tell us about the issue you are experiencing

Astrum is not scrolling to the correct component when the pattern library is visited with a component in the URL hash. This appears to be an issue when testing Astrum with a large number of components and groups.
#### What behaviour would you expect?

Astrum should scroll to the specified component.
#### How can this issue be replicated?

@RyanHav

[2016-08-17 09:33] matt-west commented on #59
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Hkall3hL&#x2F;26-issue-with-auto-scroll-to-components-based-on-url-hash"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Issue with auto-scroll to components based on URL hash</a>

[2016-08-17 09:52] RyanHavoc commented on #52
The realignment feature has now been removed as of version 1.6.3.

[2016-08-17 09:52] RyanHavoc commented on #21
The realignment feature has now been removed as of version 1.6.3.

[2016-08-17 12:13] brtdesign opened #60 "Cannot add components: undefined is not a function"
#### Tell us about the issue you are experiencing
running:

```D:\src\app>astrum new buttons/default```

gives:

[code]

#### What behaviour would you expect?
New component created

#### How can this issue be replicated?
Running: ```D:\src\app>astrum new */*```
#### Screenshots / Screencast
-
#### Your environment

Platform: Windows 10 Pro
OS Version:  1511
Node Version: 0.12.2
NPM Version: 2.7.4

[2016-08-17 16:04] raffomania commented on #52
Thanks a lot!

[2016-08-18 14:47] RyanHavoc commented on #60
@brtdesign You need to update your version of Node/NPM.

[2016-08-18 14:47] #60 closed

[2016-08-18 15:03] dlewand691 commented on #55
That's true but it requires a lot of rework to find the elements that need to change. If you had a master sass file with all the variables available to change, you could theme quicker and easier. You can move all font sizes, paddings, colors, borders, etc out of the CSS and into variables similar to how Zurb's Foundation framework works. Much easier and more robust than having to hunt and peck for

[2016-08-19 15:06] giuseppeg commented on #33
Hi @RyanHavoc I am considering to give astrum a try but I was wondering how do you folks deal with conflicting css rules?

What happens if my pattern library has something like `* { margin: 0 }` or other resets?

Is there any chance to *sandbox* the examples either by loading `markup.html` in an iframe or using ShadowDOM?

[2016-08-19 16:53] dlewand691 opened #61 "Code sample still showing when setting to disable_code_sample to true"
Code sample alert is still appearing after I've set `"disable_code_sample": true`. Expecting it to hide code sample and alert.

<img width="366" alt="screen shot 2016-08-19 at 12 51 51 pm" src="https://cloud.githubusercontent.com/assets/1159913/17817299/c6e57516-660b-11e6-9b8b-432ecd77a6a0.png">
<img width="1239" alt="screen shot 2016-08-19 at 12 52 05 pm" src="https://cloud.githubusercontent.com/

[2016-08-19 19:02] RyanHavoc commented on #33
Hi @giuseppeg. All Astrum elements are prefixed with '.ndpl-' to avoid conflicting with your project styles. It's generally considered bad practice to use '*' for resetting (for this very reason, you're too easily prone to conflicts and it's not a very efficial way to reset styles), consider using something like normalize.css which targets specific elements rather than using a wildcard.

[2016-08-20 10:47] RyanHavoc commented on #61
The `disable_code_sample` option removes the toggleable code sample from a component preview leaving you with just the rendered component.

It doesn't disable this helper alert message.

[2016-08-20 10:47] #61 closed

[2016-08-21 10:40] giuseppeg commented on #33
@RyanHavoc fair enough, for clarity I know that it is a not recommended practice I just want to bring up one of the many ways to break things even when you use BEM.

Anyway the reason why I asked is because I saw that pages' selectors target elements but now I realised that pages are just for documentation.

Initially I thought that one could display components in pages as well – in fact I would l

[2016-08-22 08:51] raffomania opened #62 "Components with zero height before styling don't get displayed"
#### Tell us about the issue you are experiencing
Components that only have a height after being styled are not displayed. Instead, there is a message saying "This component is hidden at this resolution".

#### What behaviour would you expect?
I would expect the component to be displayed.

#### How can this issue be replicated?
markup:

    <div class="box"></div>

style:

    .box {
        heigh

[2016-08-22 09:02] RyanHavoc commented on #62
@raffomania Use the `disable_auto_sample_hiding` to explicitly set when a component should be shown e.g.:

[code]

Add this to your component in `data.json`. See [https://github.com/NoDivide/astrum#special-options](https://github.com/NoDivide/astrum#special-options) for more details.

[2016-08-22 09:02] #62 closed

[2016-08-22 14:26] raffomania commented on #62
That's a possible workaround, but wouldn't it be more elegant to check the element visibility after the styles are loaded?

[2016-08-22 14:34] RyanHavoc commented on #62
@raffomania That's what it should be doing. Your elements are rendered an Astrum checks their height to determine if they're visible are the current resolution. I'd need to see your Astrum instance to diagnose your problem further. Can you get it up somewhere accessible?

[2016-08-22 14:45] raffomania commented on #62
Sadly, I can't make my instance accessible to you :( I've just tested my minimal example above, and it seems that the Problem only appears with my specific setup. I'll investigate and try to identify an exact cause.

[2016-08-22 15:42] dlewand691 commented on #61
Ah! Is there a way to hide the sample and toggle all together? I'm creating an "Overview" section for each area and don't want to show the toggle/sample.

[2016-08-22 15:45] RyanHavoc commented on #61
I'm not sure what you mean... Are you asking if there's a way to hide a sample entirely? No would be the answer to that.

[2016-08-22 17:56] RyanHavoc commented on #33
@giuseppeg it would be great if you could create a separate Proposal issue and elaborate on how to envisage this feature working in more detail.

[2016-08-22 19:46] dlewand691 commented on #61
Yes, I'd like to fully disable the sample. I guess turning off the code sample and putting an empty tag in the markup.html might work.

[2016-08-22 20:32] dlewand691 opened #63 "Using Foundation framework"
I'm trying to use the Foundation framework and getting this error:
`Uncaught TypeError: $(...).foundation is not a function, app-min.js:1`

It requires jQuery to run properly and have edited the index.html file with `<script src="/js/jquery.js"></script>` up top in the `<head>` to load jQuery first. Found this solution from previous issues.

The JS file with the Foundation call uses this on the fi

[2016-08-23 10:34] RyanHavoc commented on #61
For what reason do you want to disable the component?

[2016-08-23 10:39] RyanHavoc commented on #63
Can you not just include jQuery as a JS asset prior to loading Foundation?

[2016-08-23 13:37] dlewand691 commented on #63
I'm an idiot... I'm using Codekit to compile the JS and didn't include the right scripts. Geez! Nevermind, all fixed! Sometimes you just need a little kick in the pants :-) 👍

[2016-08-23 13:37] #63 closed

[2016-09-02 14:19] NonPolynomial opened #64 "Wrong module path?"
#### Tell us about the issue you are experiencing

If i try to `astrum init ./patterns/` (or any other path) i get the following error:

[code]

It seems that astrum tries to get the template files from my appdata folder, but node and npm are installed in `C:\Node`
#### What behaviour would you expect?

Astrum should look for the template files in the folder node / npm / astrum was installed in.
#

[2016-09-02 14:28] Oxicode commented on #57
+1

[2016-09-02 14:29] Oxicode commented on #56
+1

[2016-09-02 14:46] NonPolynomial commented on #64
i could solve this with following changes on manager/utils.js:

[code]

[2016-09-03 10:35] RyanHavoc commented on #64
@NonPolynomial I'm assuming then that you install your global node modules into a non-default location on Windows? I was expecting the global-modules dependency to resolve the correct path in that case...

Thanks for the feedback on what change could be made. I'll test it out, I just need to ensure it sets the correct path in all instances. Mac and Windows alike.

[2016-09-03 12:33] NonPolynomial commented on #64
hey @RyanHavoc ,

i expected `global-modules` to do this, too. :c
Shouldn't `process.argv` always do the trick here?
I thought, it wouldn't be bound to any OS.

Further explanation:
i didn't "install" node. i just downloaded the node.exe and the npm tarball and unpacked it, and set the environment variable to node myself, because thats what the installer just do.

[2016-09-03 14:48] RyanHavoc commented on #56
This feature has just been release in the latest version: [Release Notes](https://github.com/NoDivide/astrum/releases/tag/1.7.0)

Enjoy!

[2016-09-03 14:53] RyanHavoc commented on #64
@NonPolynomial It should do the trick but then again I wouldn't have expected it to break in your case in the first place. Testing required!

[2016-09-03 14:58] RyanHavoc commented on #57
@Oxicode Feel free to vote on the Trello card. 😀

[2016-09-04 02:11] alex-ketch opened #65 "Syntax highlighting for code snippets on Pages and component descriptions"
First of all thank you for such an amazing tool!
I would like to make a feature proposal:

#### Tell us about the issue you are experiencing
Code syntax highlighting does only applies to snippets below components, but not to code blocks present in component descriptions or individual pages.

#### What behaviour would you expect?
Code syntax should be coloured for all `pre code`  blocks.

#### How

[2016-09-04 12:19] philipbelesky commented on #23
Hey, loving the library. Not sure if this use case belongs with this issue as an implementation detail or should be added as a separate feature request issue (let me know if so and I'll add one).

My use case is for distributing an npm/bower package with astrum as a dev dependency but without *without* bundling/packaging the core pages generated when creating an astrum project — ie the `index.html

[2016-09-04 12:26] RyanHavoc commented on #23
@philipbelesky Could you create a new issue to discuss this on please.

[2016-09-04 13:35] NonPolynomial commented on #65
Hey @alex-ketch ,

astrum uses [highlight.js](https://highlightjs.org/), so highlighting is included.
what you can do is add a file in app/js (e.g. highlighting.js):

[code]

and add this file to the assets in `data.json`:
[code]

in your `data.json` you can than define a highlight.js theme (e.g. `tomorrow-night` and disable the background-color overwrite:
[code]

hope, i could help.

[2016-09-05 07:41] philipbelesky opened #66 "When init-ing don't overwrite pre-existing files (to aid the distribution of astrum projects)"
#### Tell us about the issue you are experiencing

My use case is for distributing an npm/bower package with astrum as a dev dependency but without *without* bundling/packaging the core pages generated when creating an astrum project — ie the `index.html` and `app/` files that were auto-generated and that I've no need to modify. The package *would* include the `/components`, `data.json`, etc that

[2016-09-05 12:58] RyanHavoc commented on #66
@philipbelesky Are you intending for the Astrum core files to be instantiated when you run your bundled package then? Sorry, I'm having trouble getting my head around what you're trying to achieve (it is my first day back from a weeks leave mind 😕)

[2016-09-05 15:15] RyanHavoc commented on #65
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;V785h7Ty&#x2F;27-add-facility-to-apply-syntax-highlighting-to-pages-and-component-descriptions"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add facility to apply syntax highlighting to pages and component descriptions.</a>

[2016-09-05 15:29] RyanHavoc commented on #65
@alex-ketch I've just added syntax highlighting support to pages and component descriptions in the latest release 1.8.0.

[2016-09-05 15:29] #65 closed

[2016-09-05 18:23] zachfedor opened #69 "Empty scroll bar in code samples"
#### Tell us about the issue you are experiencing

Code sample styles include `overflow-x: scroll;` which shows unnecessary scroll bar.

More info in PR #68

---

Platform: OSX
OS Version: 10.11.6
Node Version: 5.3.0
NPM Version: 3.5.2
Astrum Version: 1.8.0

[2016-09-05 19:24] RyanHavoc commented on #59
@matt-west I've added an additional check to ensure the document is ready before triggering the scroll to. This fixes the problem, but not entirely in our case with SBL.

See the bug/59 branch.

The issue we have with SBL is we're loading additional Vue components into the library. Astrum triggers the scrollTo once it's completely loaded. You can see the "Done" on the screenshot below:

<img width

[2016-09-05 22:47] philipbelesky commented on #66
@RyanHavoc yes. So I imagine in my case (as with many use cases for Astrum) the package itself provides a compiled CSS file of styles that implement a pattern library.  However, if a user wants to edit and contribute to these styles, I've setup my `devDependencies` such that it pulls down the packages needed to do so — ie gulp, a sass compiler, a server, and of course Astrum.

As with any other pa

[2016-09-06 09:00] RyanHavoc commented on #66
@philipbelesky Without the `app/` and `index.html` files though the pattern library won't work... Don't you want the pattern library to be included with your project? Once added to the repo `app/` and `index.html` are static and don't change (unless there's an Astrum update and you want to update your instance). Am I miss-understanding?

[2016-09-06 09:41] RyanHavoc commented on #69
@zachfedor I think you may have inadvertently fixed a bug. We never intended for the scrollbar to be shown and they don't appear in Chrome for OSX for me. What browser are you using?

[2016-09-06 12:34] zachfedor commented on #69
@RyanHavoc I just figured out the problem. I'm also using Chrome but there is a setting in System Preferences under the General tab to control the appearance of scroll bars. I think OSX's default is to only show them while scrolling, but it still keeps the 17px (or whatever it is) space for it even if it doesn't show anything. I've been burned by this behavior before, so I set it to always show th

[2016-09-07 00:01] philipbelesky commented on #66
My thinking is I don't want to include it the pattern library as it's only useful for those looking to edit the underlying styles, as opposed to just using the CSS as a drop in. Not having those files present  makes the project both slightly smaller and removes the need to update those files when Astrum does.

[2016-09-08 15:17] citation-nm opened #70 "Add option for a Dark Sidebar"
#### Tell us about the issue you are experiencing
It's not an issue - it's a Feature Request. I would love the option to have a dark sidebar, with configuration for the background and text colour.

#### What behaviour would you expect?
An option to have a dark sidebar, with configuration for the background and text colour.

#### How can this issue be replicated?
N/A

#### Screenshots / Screencast

[2016-09-08 15:34] henwen opened #71 "Custom stylesheet overrides base elements in Astrum UI"
_Background_: I have a  custom stylesheet added via `data.json`. As expected, my custom styles aren't applied to Astrum's UI, except in one case –  base element rules (i.e.`margin-bottom` on  `p`, `list-style` on `ul`). If these base element styles are set at all, they're set by the browser ("User Agent Stylesheet"), not Astrum.

_Core Issue_: If a base element doesn't have any styles set by Astru

[2016-09-08 15:59] RyanHavoc commented on #71
@henwen This will always be a challenge. The issue with add a nomalize.css is this will effect the project styles (if normalize.css isn't being used in the project) so you then have the reverse issue.

What we try to do is have a class on every element in Astrum and "reset" on a per element basis. If you could provide us with a list of what elements are being effected by your project base styles t

[2016-09-08 16:07] henwen opened #72 "UX Issue - hyperlinks hard to distinguish"
Since the text color for `<a>` text is just a darker dark gray than the `<p>` text, my pattern library users (myself included) are having trouble easily noticing hyperlinks in the Component/Page descriptions.

I think setting `<a>` tags to an accent color (possibly a user-definable one) would be an easy fix.

[2016-09-08 16:42] henwen commented on #71
Thanks for the quick response @RyanHavoc. That's a difficult one indeed. The only elements that are currently causing big issues for me are `ul` and `ol` (my lists are unstyled by default).

Alternatively, might help to think of this issue as this user story: *As a user of markdown, I expect the outputted html to have the standard visual traits of generated markdown*.

Looking at it like that, add

[2016-09-12 13:48] matt-west commented on #72
Thanks @henwen. I agree with your suggestion. I'll get this fixed.

[2016-09-12 13:48] matt-west commented on #72
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;EZJwGF9V&#x2F;28-ux-issue-hyperlinks-hard-to-distinguish"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> UX Issue - hyperlinks hard to distinguish</a>

[2016-09-12 23:07] alex-ketch commented on #61
@dlewand691 If never need to show the rendered output of the hidden code samples, you can add this to your CSS.
You will still need to add some code or message, otherwise you will get help text telling you to add component markup.

[code]

[2016-09-13 10:55] egcolli opened #73 "Download for closed network"
I am trying to use this on a closed network and unable to configure it correctly. Does anyone have a solution?

[2016-09-14 10:38] matt-west commented on #59
@RyanHavoc I agree that this is an edge case. Happy to go with the solution you've put together.

[2016-09-14 21:29] dlewand691 opened #74 "[FEATURE REQUEST] Sidebar nav automatically scrolls to and follows body location"
#### Tell us about the issue you are experiencing
Would like to request that the sidebar automatically scrolls and vertically centers the active item so the sidebar and body are "tied together".

#### What behaviour would you expect?
As you scroll through the body, the left sidebar active item follows and is vertically centered in the viewport.

#### How can this issue be replicated?
No issue, jus

[2016-09-15 11:53] DanDvoracek opened #75 "Change the first page/component that loads when opening the app"
Hi! First of all thanks for that project, it's great! I love it!

However I'm wondering how to change the first page loaded as I didn't find any way to do it so far.

I have the following in my data.json

[code]

and yet it is the first component of the list that always appears on (re)load. And this happens even if the history is present in the url (f.e.: .../#introduction --> refers to a page). A

[2016-09-15 19:29] DanDvoracek opened #76 "Error in astrum/manager/utils.js:189 : TypeError: undefined is not a function"
#### Tell us about the issue you are experiencing
I have the project setup on my laptop and everything is fine. I pushed it to git and pulled it on my main machine, installed astrum (had to sudo it strangely enough), and now, even if the init command works fine (it generates the structure), I can't generate any components with the command line. Here is the error message it throws:

[code]

Quite f

[2016-09-15 19:53] DanDvoracek commented on #76
Sorry I didn't see this was a duplicate of #60 . I have been searching the wrong keywords!

Anyway I had to actually grab the version of node (here https://nodejs.org/en/) as it didn't want to update properly with brew node install.. Anyway, I have been able to update npm with homebrew and node this way.. Now it all works well!

Again, sorry for the duplicate. You can safely close this post when y

[2016-09-15 20:06] alex-ketch commented on #76
@DanDvoracek Glad you figured it out, I would highly recommend using [NVM](https://github.com/creationix/nvm) to avoid future headaches and more flexibility :)

[2016-09-15 20:10] DanDvoracek commented on #76
Thanks for the hint, I'll keep it in mind ;)

[2016-09-16 13:25] bertvh commented on #71
Same issue here. Astrum is my favorite styleguide tool (easy to use, no runtime component, flexible, beautiful), but I'm building a styleguide on top of materializecss. Including that lib messes up the whole UI:

![screen shot 2016-09-16 at 15 21 10](https://cloud.githubusercontent.com/assets/941577/18587299/9a758544-7c21-11e6-9136-e47c55f7df9f.png))

The proposed solution (reset on each element)

[2016-09-16 13:38] bertvh commented on #71
One thing that could really fix this issue is wrapping all astrum-ui specific things in a webcomponent.
I also found this: https://github.com/premasagar/cleanslate

[2016-09-17 10:36] #76 closed

[2016-09-17 10:42] RyanHavoc commented on #75
@DanDvoracek The `show_first_page_on_load` option lets you control whether your first content page (`intro.md` by default) loads first or your component library. You can't currently control what component appears first... you can control the order of components though so you can just put the components you want to appear first at the top? (<- I may be misunderstanding what you're trying to do...)

[2016-09-17 10:42] #75 closed

[2016-09-17 10:46] RyanHavoc commented on #73
@egcolli Astrum currently needs internet access to load all it's assets from a CDN. Offline support is on our development roadmap: #48

[2016-09-17 10:46] #73 closed

[2016-09-17 11:01] DanDvoracek commented on #75
Hi @RyanHavoc and thanks for the details. I kinna figured it out already. In my issue I explain that I have the `"show_first_page_on_load": true,` but unfortunately it still loads a component at first load...
The same thing happens on Safari, Firefox and Chrome.

Another thing is that the history is not tracked. If I go to the page introduction for example, le url will change to smth like .../#int

[2016-09-17 12:40] DanDvoracek commented on #75
Right, I finally found a little moment to have a look at it and it seems there was a little typo in the js. After having console.logged a couple of things around I found out that there was a reference to an object.array that was missing an "s".

Therefore I ended up creating a new pull request. I hope you don't mind but as it was a tiny thing to fix, I thought it would save you some time !

PR: #7

[2016-09-27 13:48] dlewand691 opened #78 "[FEATURE REQUEST] Add ability to merge components if needed"
I'm working on a guide and have 2 sections for my grid- a standard float grid and a flexbox grid. Development decided to use the flexbox grid so I'd like to merge the 2 sections without having to recreate and copy/paste similar sections.

[2016-09-27 15:02] dlewand691 opened #79 "[FEATURE REQUEST] Load markup examples in iFrame to make them resizable and responsive"
Instead of having to resize the whole browser window, I'd like to only resize my coded example. But simply making the div resizable doesn't make it responsive.

Putting the markup.html content into an iFrame and loading that allows the example to be responsive. It does require a 2nd html file to be the iFrame source and also that your server allow iFrames to load. The system currently does not pul

[2016-09-30 20:52] alexandra-aas opened #80 "Astrum with Rails Asset Pipeline"
#### Tell us about the issue you are experiencing

Astrum uses the stylesheets from the live site to style the pattern library. But with Rails, the asset pipeline fingerprints the stylesheet, so the url won't be the same everytime ([see documentation here](http://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark)). I'm wondering what the best way

[2016-10-03 11:39] matt-west commented on #80
Hi @alexandra-aas,

Looks like Rails used to create non-fingerprinted assets too but this was removed in Rails 4. Take look at this article. It contains some approaches for accessing non-fingerprinted assets which could then be specified in Astrums `data.json` file.
https://bibwild.wordpress.com/2014/10/02/non-digested-asset-names-in-rails-4-your-options/

[2016-10-06 16:28] paulstanfield opened #81 "[FEATURE REQUEST] Being able to search for components in the browser view"
A possible feature which I personally think would be great to have. Is being able to search for components as well as using the left hand navigation to go to your component in the browser.

I have a lot of components in my library and being able to do a quick search in a search box would be extremely helpful for me, maybe this could be done by searching by component name?

Thanks!

[2016-10-07 07:43] bitstarr opened #82 "Updating from 1.5.15 fails"
I wanted to update my style guide from astrum 1.5.15 to the current version. I globally updated astrum successfully. In the project it failed by using `astrum update`.

[code]

Platform: Debian
OS Version: Stable
Node Version: 5.10.1
NPM Version: 3.8.3
Astrum Version: 1.5.15 / 1.8.1

[2016-10-18 12:13] elanschnider opened #83 "No astrum-config.json file found in project root"
Can add a component the first time I use astrum fine. But when I close terminal and go back and try add a component, I get the following message: "No astrum-config.json file found in project root"

Any idea?

[2016-10-18 12:31] matt-west commented on #83
Hi @elanschnider,

Are you running the astrum command from the same directory that contains the `astrum-config.json` file?

[2016-10-18 12:52] elanschnider commented on #83
Ah, no that was my problem. Though that the "init" could be run globally and that the config file would be put in the astrum directory.

All sorted and working now!

[2016-10-18 12:53] matt-west commented on #83
@elanschnider Glad to hear you're up and running again. :)

[2016-10-18 12:53] #83 closed

[2016-10-18 12:54] matt-west commented on #82
Hi @bitstarr, Are you running this command from the same directory as your `astrum-config.json` is located in?

[2016-10-18 13:28] bitstarr commented on #82
I am runnig this command where the data.json, index.html and the app folder is.

[2016-10-19 15:49] davidhellmann opened #84 "[FEATURE REQUEST] Different Code Blocks"
Lovely Astrum!

One thing I miss is different Code Blocks. One for the executed part and another one (or more) to add the raw code. Example

c-button.twig
[code]

The rendered HTML is another one as the part in the templates. It would be nice to have both. Sure, I can do this within the .md file but a downside here is, that the page become longer and longer. Maybe you've stuff like this in the pip

[2016-10-21 15:24] matt-west commented on #82
@bitstarr Try running the update command from the same folder that contains the `astrum-config.json` file.

[2016-10-21 15:26] matt-west commented on #84
![](https://github.trello.services/images/mini-trello-icon.png) [Add support for preview.html file that overrides markup.html allowing template languages to be used in the markup file.](https://trello.com/c/SYgMlcUG/2-add-support-for-preview-html-file-that-overrides-markup-html-allowing-template-languages-to-be-used-in-the-markup-file)

[2016-10-21 15:28] matt-west commented on #84
@davidhellmann Thanks for the suggestion. We’ve had a few similar requests and this is currently on our roadmap here: https://trello.com/c/SYgMlcUG/2-add-support-for-preview-html-file-that-overrides-markup-html-allowing-template-languages-to-be-used-in-the-markup-file

No timescales for when this might be available just yet but it’s on our radar.

[2016-10-21 15:28] #84 closed

[2016-10-22 11:31] davidhund commented on #71
I, too, was surprised to find that Astrum styles could override my pattern styles and vice versa.
IMO this is a pretty big flaw.

You can remedy this partly by styling Astrum UI *very* specifically, but better would be to render patterns in an `iframe`: this iframe would then *only* load our pattern-specific styles (and scripts).

A good by-product of rendering patterns in an iframe is that we can

[2016-10-22 11:32] davidhund commented on #79
:+1: This would also provide some encapsulation and solve the issue of CSS 'collision' between Astrum- and pattern styles.

[2016-10-22 11:35] davidhund commented on #33
One (IMO better) way to fix these style collisions would be to render patterns in an `iframe` and only load project (not Atrum) CSS there. This would also allow for better Responsivene previewing. See also #71 and #79

[2016-10-24 11:54] bitstarr commented on #82
Well there no such file. Did you change the file names over the version? Is it even possible to update from 1.5.15?

[2016-10-25 15:15] RyanHavoc commented on #82
@bitstarr No there shouldn't be any issues updating from 1.5.15. If you astrum-config.json file is missing you'll need to create a new one manually the contents are:

[code]
See if that works.

[2016-10-26 11:36] elanjeanschnider opened #85 "can you move a component to another group?"
#### Tell us about the issue you are experiencing

#### What behaviour would you expect?

can you move a component to another group?

#### How can this issue be replicated?

#### Screenshots / Screencast

#### Your environment

Platform:
OS Version:
Node Version:
NPM Version:
Astrum Version:

[2016-10-26 12:06] RyanHavoc commented on #85
@elanjeanschnider Yes. Edit the component and one of the options is to change groups. e.g.

`astrum edit group/component`

[2016-10-26 12:06] #85 closed

[2016-10-28 10:13] elanschnider opened #86 "Is there a way to create a sub group?"
#### Tell us about the issue you are experiencing

Is there a way to create a sub group?

Something like:

Branding > colors > primary colors

#### What behaviour would you expect?

#### How can this issue be replicated?

#### Screenshots / Screencast

#### Your environment

Platform:
OS Version:
Node Version:
NPM Version:
Astrum Version:

[2016-10-28 10:53] RyanHavoc commented on #86
@elanschnider Not presently, it has been proposed on the development roadmap though. We're monitoring the demand of it.

[2016-10-28 10:53] #86 closed

[2016-10-28 11:25] elanschnider commented on #86
Awesome. Thanks

[2016-11-04 02:53] alexandra-aas opened #87 "Feature Request: Ability to name colors"
I'm using SASS variables for my colors and I've given them each descriptive names, like: `$smoke, $snow, $slate...`. It would be nice if Astrum allowed you to define a descriptive name in addition to the hex since the descriptive name easier to remember.

For example: https://marvelapp.com/styleguide/design/color-scheme

[2016-11-04 04:38] alexandra-aas commented on #87
Apologies, duplicate of #25. Closing.

[2016-11-04 04:38] #87 closed

[2016-11-17 11:31] laitine opened #88 "Header title not overridable"
#### Tell us about the issue you are experiencing

When viewing on mobile the header title appears and is not overridable.

#### What behaviour would you expect?

The header title should be listed included in data.json or map to one of the current titles listed in data.json.

#### Screenshots / Screencast

![pattern_library_header_title](https://cloud.githubusercontent.com/assets/305975/20387702/1

[2016-11-21 10:46] RyanHavoc commented on #88
@laitine Yes I agree. It would be good to be able to set this in the data.json file. We'll add it to the list for the next release.

[2016-11-21 12:00] laitine commented on #88
Great. Thanks!

[2016-11-25 09:18] #72 closed

[2016-11-25 09:22] matt-west commented on #82
Closing due to inactivity.

[2016-11-25 09:22] #82 closed

[2016-11-25 09:23] #80 closed

[2016-12-07 19:18] alexandra-aas commented on #80
@matt-west I fixed this by using the gem `non-stupid-digest-assets`.

[2016-12-07 20:42] matt-west commented on #80
@alexandra-aas Thanks for letting us know. Glad you got it sorted.

[2016-12-13 14:27] RyanHavoc opened #89 "Add facility to hide overflow on a per component basis."
#### Tell us about the issue you are experiencing
I have a menu that is absolutely position outside of the body element so that it is hidden. When the menu handle is click the menu animates in. Currently with Astrum the menu is floating outside of the component sample area.

#### What behaviour would you expect?
The component sample area needs to have overflow hidden applied to prevent this from h

[2016-12-13 14:29] RyanHavoc opened #90 "Auto sample hiding is not working."
#### Tell us about the issue you are experiencing
When resizing the browser, components that should show a "hidden at this resolution" message are not being hidden.

#### What behaviour would you expect?
Message should appear as Astrum detects that the component is hidden or not.

#### How can this issue be replicated?
Create a component that is hidden on mobile but visible on desktop. Resize the

[2016-12-13 14:33] Oxicode commented on #90
Me too

[2016-12-13 15:45] #89 closed

[2016-12-13 15:45] #90 closed

[2016-12-13 15:46] #88 closed

[2016-12-13 15:46] RyanHavoc commented on #88
@laitine This has been resolved in version 1.9.2.

[2016-12-15 14:46] zachfedor commented on #75
I just updated to `1.9.3` and this is still an issue. PR #77 says this was merged into the `1.8.1` release and the current release shows those changes, so there must be some other problem. I'll update my fork and dig into it.

[2016-12-23 13:40] patrickcate commented on #81
I think this would be a great feature as well.

[2016-12-23 13:56] RyanHavoc commented on #81
@paulstanfield I like the idea as well. I'll add this to the roadmap.

[2016-12-28 20:40] davidhund commented on #79
No thoughts on this?
At the moment this is the single issue preventing me from using Astrum in two projects.

PS: I just came across https://github.com/edenspiekermann/iframify which could make this a lot easier.

[2017-01-03 12:50] RyanHavoc commented on #79
We're currently working on Astrum v2.0 and we're considering the best way to approach this.

[2017-01-03 13:49] leex279 commented on #26
hey, can you give me a state of my feature request? is it coming or is it to specific. I thought this isnt that much effort to change it :/

[2017-01-03 16:44] RyanHavoc commented on #79
@davidhund Could you provide some context as to what style collisions you're experiencing?

The issue with iFrames is, as @dlewand691 points out, unless they're 100% width of the page the project media queries won't work properly.

[2017-01-09 10:19] davidhund commented on #79
@RyanHavoc Obviously content loaded on the page will inherit the global styles. So style collisions could be everywhere: patterns could be affected by Astrum styles (allthough not very likely since you 'namespace' all Astrum styles with `ndpl-`), or the Astrum UI could be affected by our projects' styles.

The latter is my problem at the moment: my projects' non-specific styles are affecting the A

[2017-01-13 11:48] RyanHavoc commented on #79
@dlewand691 @davidhund I've been exploring lots of option to prevent style conflicts and the compromises we'd have to make by using iFrames are too great in my opinion. Instead I've been working on a scoped CSS approach that sandboxes project styles to the sample container. This has been working well in testing and I've just pushed a pre-release for Astrum 2.0.0 if you'd like to give it a try your

[2017-01-13 11:48] #79 closed

[2017-01-13 11:49] RyanHavoc commented on #48
@raffomania The new version of Astrum (2.0.0) address this issue and now works offline. It's currently in pre-release and you can have a play with it now. Details here: https://github.com/NoDivide/astrum/releases/tag/2.0.0-rc.0

[2017-01-13 11:49] #48 closed

[2017-01-13 11:52] RyanHavoc commented on #71
@henwen We've made efforts to address this for Astrum 2.0.0 which is now in pre-release, details here: https://github.com/NoDivide/astrum/releases/tag/2.0.0-rc.0 Give it a go, let us know how you get on.

[2017-01-13 11:52] #71 closed

[2017-01-13 11:54] RyanHavoc commented on #69
@zachfedor I've fixed this in Astrum 2.0.0 which is now in pre-release, details here: https://github.com/NoDivide/astrum/releases/tag/2.0.0-rc.0

Hoping to have the full release out soon.

[2017-01-13 11:54] #69 closed

[2017-01-13 11:55] #59 closed

[2017-01-13 11:55] #64 closed

[2017-01-13 13:44] raffomania commented on #48
Awesome work, thanks!

[2017-01-17 11:55] Madhu2911 commented on #48
How to run an astrum file after creating the components?

[2017-01-17 12:18] RyanHavoc commented on #48
@Madhu2911 Could you clarify what you mean by your question please?

[2017-01-17 12:29] Madhu2911 commented on #48
using npm how to run astrum??
is this need any API to run?

[2017-01-17 12:54] RyanHavoc commented on #48
@Madhu2911 No, just install Astrum globally:

`npm install -g astrum`

And initialise an instance in your web project:

`astrum init ./pattern-library`

Usage instructions are here: https://github.com/NoDivide/astrum

[2017-01-17 13:11] Madhu2911 commented on #48
When I try to run I am getting error like this
npm ERR! missing script: start

[2017-01-17 17:12] RyanHavoc commented on #48
@Madhu2911 Do you want to open a new issue for this (as it's not related to this one) and provide the complete output?

[2017-01-18 06:35] Madhu2911 commented on #48
yeah

[2017-01-18 08:33] Madhu2911 commented on #48
Is it possible in astrum to create all the required components in a single step? Because creating every single component take much time. It becomes a time consuming one...

[2017-01-28 07:11] dlewand691 commented on #79
Awesome! Glad you've found an approach to this. Would love to try it, how do I update to a pre-release?

[2017-01-31 09:50] RyanHavoc commented on #79
@dlewand691 You'll need to pull down the `release\2.0.0` branch locally and use `npm link` to tell your system to use you local instance rather that your npm global instance.

[2017-01-31 10:03] RyanHavoc commented on #78
@dlewand691 Do you mean merge two groups into one?

[2017-01-31 10:15] danielfilho commented on #70
for this, maybe add the possibility to have a custom css file that overrides the standard one might be easier and broader

[2017-01-31 10:23] RyanHavoc opened #91 "Add update-notifier to prompt users of new updates."
#### Tell us about the issue you are experiencing
Improve uptake of the latest version of Astrum.

#### What behaviour would you expect?
If a new version of Astrum is available an update prompt will be presented when people use it.

[2017-01-31 11:00] RyanHavoc commented on #3
Ref #84

[2017-01-31 11:04] RyanHavoc opened #92 "Extended functionality for color components."
Improve functionality of color components. Discussions include: #25, #16, #35

[2017-01-31 11:24] RyanHavoc opened #93 "Add command-line management for pages."

[2017-01-31 11:25] RyanHavoc opened #94 "Add further command-line management for component options."

[2017-01-31 12:11] NonPolynomial commented on #64
Do you plan to include a bugfix for that in any version? @RyanHavoc

[2017-01-31 12:36] RyanHavoc commented on #64
@NonPolynomial Could you try out the `release/2.0.0` branch and see if your problem has been resolved in that release?

[2017-01-31 12:44] paulstone opened #95 "Demo style guide not currently working. Showing vue.js error in console"
#### Tell us about the issue you are experiencing
[http://astrum.nodividestudio.com/pattern-library/](http://astrum.nodividestudio.com/pattern-library/) not currently working. Blank white screen is shown instead. Error in browser console is:

`Uncaught TypeError: Cannot read property 'prototype' of undefined at patch (main.min.js:655)`

#### What behaviour would you expect?
The demo styleguide to

[2017-01-31 13:07] RyanHavoc commented on #95
@paulstone Thanks for the heads up. Fixed now.

[2017-01-31 13:07] #95 closed

[2017-01-31 13:10] paulstone commented on #95
Thanks for fixing so quickly @RyanHavoc :)

[2017-01-31 14:52] NonPolynomial commented on #64
I'm afraid, it's not :/

`_this.module_path` targets the wrong path in appdata in [`manager/utils.js`](https://github.com/NoDivide/astrum/blob/release/2.0.0/manager/utils.js#L52).

[2017-01-31 20:52] NonPolynomial commented on #64
@RyanHavoc would you prefer, when I take a fork and apply the changes to `master` or to the `release/2.0.0` branch?

[2017-01-31 20:57] RyanHavoc commented on #64
@NonPolynomial 'master' please. It's going to be a little while before v2.0.0 is ready for release.

[2017-02-01 09:11] rfranklin915 opened #97 "Can't find description file"
#### Tell us about the issue you are experiencing
I've followed the steps both in the video (Vimeo) and 'getting started', but I'm getting an error when i try to run the pattern library - **_Description file for buttons group failed to load from ./components/buttons/description.md_**. The description file does seem to exist.

#### What behaviour would you expect?
The pattern library to build and d

[2017-02-01 09:14] rfranklin915 commented on #97
Sorry, my bad. Hadn't added mime type.

[2017-02-01 09:14] #97 closed

[2017-02-01 22:22] dlewand691 opened #98 "How to update to pre-releases?"
Not an issue, just a noob question... How do you update to pre-releases to test?

[2017-02-02 14:46] RyanHavoc commented on #98
Pull down the `release/2.0.0` branch locally and use `npm link` to tell npm to use you local copy rather than your global copy.

[2017-02-02 14:46] #98 closed

[2017-02-03 03:17] dlewand691 commented on #79
Holy ****! Thanks! That worked!

[2017-02-17 12:15] jakestubbz opened #100 "Unable to run commands after installing via Yarn"
Installing Astrum with Yarn initially appears successful:
[code]

However, attempting to `astrum init` results in the following:

[code]

If I reinstall with `npm install -g astrum`, I'm able to run `astrum init` as expected. It looks like there was a similar issue found (and fixed) in Vue.js here: https://github.com/vuejs/vue-cli/pull/206

I tried replicating the fix described in the referenced P

[2017-02-21 20:50] NonPolynomial commented on #100
@jakestubbz can you check, if there is a `manager` folder, where astrum have to be installed through yarn? To get that `<path>`, you can use `yarn cache dir`, then move to `<path>/../config/global/node_modules`.

I had a look at `vue-cli`. It seems they added to `bin` in `package.json`.

Maybe add all files from `manager` folder to `package.json`?

[2017-02-23 20:32] revrng commented on #44
Hey,

thanks for your awesome library!

I stumbled about the same error as described above. Your workaround worked for me.

What do you think about extending the `data.json` to something like:

[code]

Inside the index.hml it would be possible to add something like:

[code]

All JavaScript files inside of assets.vendor_js are then loaded before the JavaScript of main_js.

I would like to contribut

[2017-02-24 09:23] RyanHavoc commented on #44
@revrng We inject javascript in a different way in version 2 you can pull the `release/2.0.0` branch to test with. :-)

[2017-03-02 03:59] patrickcate opened #101 "Add "copy to clipboard" button option for markup example."
Many styleguides and pattern libraries ([Bootstrap](http://getbootstrap.com) probably being the most obvious) have a convenient "copy to clipboard" button along with their markup examples, so users can easily copy and paste the examples. Adding this to Astrum would be a huge benefit for users, particularly those not as experienced working with HTML.

The [ZeroClipboard](http://zeroclipboard.org/)

[2017-03-02 10:00] RyanHavoc commented on #101
@patrickcate Absolutely. This is a feature we've been planning to add in. I've marked it to be worked on for the version 2.0.0 release. Thanks!

[2017-03-05 07:51] mdentinho opened #102 "Atom One Dark code sample theme not working"
#### Tell us about the issue you are experiencing
When setting the `code_highlight_theme` to hightlight.js‘ `atom-one-dark` style option,  the style is not applied and the code sample get messed up.

#### What behaviour would you expect?
It should load the style and apply it to the code sample.

#### How can this issue be replicated?
1. Change the `code_highlight_theme` value on `data.json` to `at

[2017-03-05 07:55] mdentinho commented on #102
FYI: I was not able to apply the `bug` label as requested in the Contributing instructions.

[2017-03-05 09:08] mdentinho opened #104 "Changing library_title doesn‘t apply to all instances of 'Pattern Library'."
#### Tell us about the issue you are experiencing
The loading message, the page‘s title and the creators list (on the copyright section) are using a hardcoded `Pattern Library` text. If I want to call my library something else, it would still show `Pattern Library` on those instances.

#### What behaviour would you expect?
When changing the `theme`>`titles`>`library_title` value from `Pattern Libr

[2017-03-05 09:08] mdentinho commented on #104
I can send a PR for this as soon as it is accepted.

[2017-03-05 09:20] mdentinho opened #105 "Add ability to align components content"
In some cases (i.e. logo images) it would be good to have an option to set the component content alignment as centered.

I could be defined as a flag in the component object:
[code]

Or, if more control can be provided, it could have multiple options:
[code]

[2017-03-05 09:32] mdentinho opened #106 "Add ability for custom css overrides"
Sometimes one might want to make some changes to the library style that are opinionated and, in this case, it‘s better to provide the option to customize/override the default styles.

My suggestion is to add an empty `.css` file to the `app/css` folder and link it right after the
`<link rel="stylesheet" href="app/css/styles.min.css">` on the html.

The file could be named `custom-styles.css` or `s

[2017-03-06 13:51] mischah opened #107 "Question: Groups for content pages"
I’m not sure if I just don’t see the option. I open an issue because I didn’t found a Link to a Gitter Room or something.

Question:
Am I right that I can only add pages to one one navigation section like described here?
https://github.com/NoDivide/astrum#content-pages

Wouldn’t it be awesome to be able to group them like we can group components?

Use case:
Showcase different pages with combinatio

[2017-03-06 15:37] RyanHavoc commented on #107
@mischah The pages section is intended for documentation e.g. coding conventions, read me's, introductory copy etc. Not for fully rendered templates of components. Does that make sense?

[2017-03-06 22:51] mischah commented on #107
Jup.

But I would love to create some example pages which do combine multiple components.
Like Pattern Lab does over here: http://demo.patternlab.io/?p=pages-homepage

Please note that I don’t feel the need for the whole »atoms«, »molecules«, »organism« approach.

I just need »components« and »pages« (to showcase how components should be combined).

And that need would be fulfilled with with the a

[2017-03-07 11:19] mdentinho commented on #107
@mischah I would say that in your case they are components and not pages.

A `Sign Up Form` and a `Contact Form` are just components made out of other smaller components. I think that this is the way things are being shaped for the web now and how `Web Components` will work.

In any case, I also feel the need to maybe split some components of different types in separated categories, but I‘d say th

[2017-03-07 14:06] mischah commented on #107
Thanks a bunch 💖

This totally makes sense 👌

Cheers, Michael

[2017-03-07 14:06] #107 closed

[2017-03-08 08:25] yellowled opened #108 "Add ability to reference scripts in the head"
A few JS components (Modernizr, for instance) require or at least prefer to be included in the `<head>` (before including stylesheets) to work properly.

As far as I can see, this is currently possible in Astrum only by editing the `index.html` and hard-coding the reference to said scripts. That is inconvenient and prone to error. Also, the `index.html` might be overwritten by `astrum update` due

[2017-03-08 08:27] yellowled commented on #108
Sorry, I would have added the “Feature request” label to this issue, but it seems I'm not allowed to. Labels etc. is disabled for me even after posting the issue.

[2017-03-08 09:31] mdentinho opened #109 "Components menu items get active when scrolling long pages"
#### Tell us about the issue you are experiencing
When scrolling pages with long texts the components menu items get active as the page reaches the scrolling position where each element would be if you were scrolling through the components.

#### What behaviour would you expect?
Components menu items should only be set as active when scrolling down the components "page".

I was able to fix this by

[2017-03-14 09:22] matt-west commented on #108
@RyanHavoc I think we didn't do this to begin with because of a scoping issue with Vue but we later restructured the app so it should be possible now (am I remembering correctly?).

Branching the config would be the simplest way to implement this. Much of the templating code to stamp out the `<script>` elements is already there.

[code]

[2017-03-14 09:23] matt-west commented on #109
Thanks for reporting this @mdentinho

[2017-03-14 10:14] yellowled commented on #108
Just for the record, I know of no CSS that needs to be emitted in the foot. If it's easier to implement that way, I'd add a hint to the documentation that it's not exactly considered best practice to emit CSS somewhere else than in the `<head>`.

[2017-03-14 10:16] RyanHavoc commented on #108
@yellowled Ha, I'm sure that was just a copy and paste typo. :-)

@matt-west No there shouldn't be any reason why we can't do this now. I'll mark it down to be implemented in version 2.

[2017-03-14 10:17] matt-west commented on #108
@yellowled Haha, sorry. My brain hadn't woken up yet.

[2017-03-14 10:27] yellowled commented on #108
@matt-west Well, there's one upside of time zones – mine's already wide awake. 😉

[2017-03-15 22:31] mischah opened #111 "Make use of a template engine and use partials for components"
#### Tell us about the issue you are experiencing

Am I right that I have to duplicate markup when using the same component in different other components?

#### What behaviour would you expect?

The possibility to use something like partials to include existing components into other ones.
This would increase maintainability of a pattern Library generated with Astrum.

Other tools to generate and m

[2017-03-16 09:46] #91 closed

[2017-03-22 15:18] philbert440 opened #112 "Cannot Initialize Astrum"
#### Tell us about the issue you are experiencing
philip@CortanaDev1:~/pattern-library$ sudo astrum init ./
/usr/local/lib/node_modules/astrum/manager/utils.js:41
                throw(new Error(chalk.red('Pattern library has already been initialized.')));
                ^

Error: Pattern library has already been initialized.
    at /usr/local/lib/node_modules/astrum/manager/utils.js:41:23
    at

[2017-03-22 16:27] welcomebrand opened #113 "Need to add an overwrite for link styling in your own css"
#### Tell us about the issue you are experiencing
Our own css uses background-image for link underlines and when I attach our css file to the library this applies it to all your library links too causing an un-needed underline on everything.

#### What behaviour would you expect?
No underlines from background-image styles. Just needs overwriting in your own css.

#### How can this issue be replica

[2017-03-22 16:31] philbert440 commented on #112
Nvm got it working, I guess it didn't need to initialize to start working  \(. .)/

[2017-03-22 16:31] #112 closed

[2017-04-10 17:17] laitine opened #114 "Remove external dependencies"
I think the external dependencies should be included internally or optionally this could be configured in the data.json. This is is a requirement for most strict deploy environments but also would make the static assets more self-contained IMHO. There is now the "font_libraries" option but regardless the index.html template includes the following dependencies by default.

[code]

[code]

[2017-04-11 08:58] RyanHavoc commented on #114
@laitine The dependencies will be internal in version 2.0. This has already been applied on the release/2.0.0 if you want to experiment: https://github.com/NoDivide/astrum/tree/release/2.0.0

[2017-04-11 08:58] #114 closed

[2017-04-11 09:24] laitine commented on #114
Great, thanks!

[2017-04-17 14:58] martin-strohsal opened #115 "".ndpl-components " container stretches over 'pages'"
#### Tell us about the issue you are experiencing

When opening one of the 'pages', a random (!) .ndpl-components container stretches over the content of the 'pages' content. It seems to have something to do with the 'preload' class. Preloaded elements seem to be hidden by positioning them -9999px in x- and y-directions. The container stretches to full width anyway, laying itself over the contents

[2017-04-18 12:21] RyanHavoc commented on #115
@martin-strohsal Any way I can access your library to review this issue?

[2017-04-18 16:31] martin-strohsal commented on #115
Sadly, there is no way at the moment -NDA ftw.

[2017-04-19 16:37] Gonzalo2683 opened #116 "Is it possible to install astrum as dev-dependency and not globally?"
#### Tell us about the issue you are experiencing

I have installed astrum as dev-dependency and I have configured an npm script:
[code]
I have run `npm run astrum init ./public/library` but I get an error:

#### What behaviour would you expect?
How can i use astrum as a local dependency?

#### How can this issue be replicated?

#### Screenshots / Screencast

#### Your environment
I use nodist to

[2017-04-22 16:49] jackw opened #117 "Cannot initialise Astrum or create components."
**Tell us about the issue you are experiencing**
Having installed Astrum globally I cannot init any directory or create new components. If I attempt either I end up with errors stating `Pattern Library has already been initialized` or `no config file found in project root`. I've tried copying the empty json file into the `public/pattern-library` directory and I still cannot proceed. A similar issu

[2017-04-24 07:30] jackw commented on #117
I've figured out the error of my ways. The issue occurs when trying to initialise a directory that already exists. Doing so results in an empty config file in root and an error message that doesn't really make sense in these conditions.

[2017-04-24 09:18] RyanHavoc commented on #117
@jackw I'll look to add in additional checks and feedback to help avoid this in future.

[2017-04-24 09:18] #117 closed

[2017-04-30 13:29] NicoMai opened #119 "new type icon for new components"
#### What behaviour would you expect?

I would like to have a new type.
In addition to the colors there is also in each styleguide the icons, which are included as image or font, and must be displayed in the pattern lib.

#### Your environment

Platform: macOS
OS Version: 10.12
Node Version:
NPM Version: 4.5.0
Astrum Version: 1.9.3

[2017-05-02 10:16] RyanHavoc commented on #119
@NicoMai It's a good idea. We just need to think of how best to define the icons to be rendered. For example the colour component has an array of hex values in the data.json and these are used to generate the colour swatch component. With icons there are lots of variables. It could be images, it could be an icon font with classes to define the individual icons, it could be an svg sprite. We don't

[2017-05-11 08:46] supermueller opened #120 "Add ability to include CSS assets with media queries"
If a project uses css media queries for referencing CSS files, e.g. a special one for desktop computer, you have to re-write the CSS file itself to get Astrum showing your components correctly.

It would be very helpful, if you can combine the CSS reference with a media query in the data.json file as an option, e.g.:

[code]

[2017-05-15 15:23] matthew1670 commented on #53
would love to see this too. +1

[2017-05-17 20:26] abid-din-akqa opened #122 "Add ability to nest pages similar to components"
I'm trying to use Astrum for both documentation and as a pattern/component library. As such, it'd be great to be able to nest my documentation pages similarly to how the component groupings currently work.

This is the structure I'd be looking to create for my pages:
`
├── Installation
├── Structural Overview
│   ├── Templates
│   │   ├── Global
│   │   ├── Specific
│   ├── Styling
│   │   ├── Glo

[2017-05-19 09:26] supermueller opened #123 "Scroll to group when clicking on the corresponding menu item"
#### Tell us about the issue you are experiencing

When clicking on a group title in the navigation the group doesn’t be scrolled into view.

#### What behaviour would you expect?

The group should be scrolled into view when clicking on it like clicking on a components of the group does.

#### How can this issue be replicated?

Click on the group title in the navigation.

[2017-05-19 17:58] abid-din-akqa opened #124 "Component links highlighted when scrolling "pages""
#### Tell us about the issue you are experiencing

After toggling through the components, then switching to a documentation page (if the page is long and requires scrollng) the components in the sidebar will highlight, as if viewing the component section.

#### What behaviour would you expect?

Component navigation not to be highlighted when scrolling down a documentaton page.

#### How can this i

[2017-05-19 19:14] ravisuhag opened #125 "[Feature request] Multiple markup code samples"
#### Tell us about the issue you are experiencing
I would like to show my code samples in multiple markup languages. for e.g. slim, haml, jsx.

This can be really helpful when you work with a templating engine and would not want your team to work on converting it in another markup every time they use a component.

[2017-05-19 19:17] ravisuhag commented on #125
Awesome. I can see this is already in progress. #https://github.com/NoDivide/astrum/issues/3

[2017-05-19 19:17] #125 closed

[2017-05-23 22:14] abid-din-akqa commented on #109
I opened this as an additional bug, as I didn't see this, but it'd be great to have a fix implemented for this soon, as it's a pretty prominent issue - trying to build in my own fix in the interim!

[2017-05-23 22:14] abid-din-akqa commented on #124
Is a duplicate of https://github.com/NoDivide/astrum/issues/109

[2017-05-23 22:14] #124 closed

[2017-05-24 09:09] matt-west commented on #109
@abid-din-akqa I'll try and find time to work on this in the next few days.

[2017-05-24 19:03] abid-din-akqa commented on #109
FYI:

I fixed this by adding the following inside the function **loadPage**:
`_this.$root.scrolling_to = true;`

I also added the following line inside the function to ensure the scroll position is always at the top when loading a page, regardless of the scroll position on the previous page:
`window.scrollTo(0, 0);`

[2017-05-30 08:42] dnlmzw opened #127 "Environment specific stylesheet URL"
I'd like to be able to specify stylesheet URL based on my current environment (development, staging, production).

It would be great if I could use environment variables in the data.json file understand what alternative way I should achieve this. I can't currently find any best-practice guidance in previous issues or the documentation.

My URLs are:
http://localhost:3000/assets/application.css
htt

[2017-05-30 09:40] RyanHavoc commented on #127
@dnlmzw So do you plan on have a single instance of Astrum or multiple (one for each environment)? For example are you going to have a Production instance that reflects your live site and a Local instance that's your work in progress?

[2017-06-01 15:53] WhatsNewSaes opened #128 "Run Astrum through gulp local server"
#### Tell us about the issue you are experiencing
I'd like to run astrum through my gulp browser sync config rather than on mamp. I am able to add new components and view files in my current setup, however Astrum does not "Compile" unless I add/edit a component.

#### What behaviour would you expect?
I'd like for Astrum to compile whenever I edit a file without having to run this project in my mam

[2017-06-02 09:51] gethinoakes commented on #102
👍  same issue

[2017-06-02 10:30] RyanHavoc commented on #102
@mdentinho @gethinoakes Hi guys. I've just release a fix for this in v1.9.4. Basically the atom-one-dark theme wasn't available in highlight.js 9.3.0 so I've upgrade Astrum to 9.12.0.

Note that you'll want to set the `override_code_highlight_bg` to null to use the themes default background.

[2017-06-02 10:30] #102 closed

[2017-06-13 10:58] krnlde commented on #2
Hey Guys,
I still get the "hang" reproducibly, not randomly when doing this:
![image](https://user-images.githubusercontent.com/1087002/27079389-bb265f44-5037-11e7-96ed-328adcc3763e.png)

Win10 Pro 64 Node 8.1.0, npm 5.0.3, Astrum 1.9.4

[2017-06-20 14:43] mixn commented on #26
Any updates on this? :) Thank you!

[2017-06-24 13:55] patrickcate commented on #53
+1 for this. I'm developing a extensive styleguide for a client and the lack of an additional tier is quickly becoming an issue. @dlewand691 example is pretty much exactly how I (and my client) want to have things organized. All that is needed is 1 more level.

[2017-06-25 22:07] giothevanni commented on #116
This issue actually relates and gets fixed with a currently open pull request (#96).

[2017-06-27 15:39] #116 closed

[2017-06-27 15:58] NonPolynomial commented on #64
@RyanHavoc fixed with the merge #96 -> Release v1.9.5

[2017-07-06 17:46] dlewand691 opened #129 "Change Vue to Production version for deployment"
I Astrum 2.0.0-rc5, I'm seeing that Vue is running in development mode from this message
[code]
#### Your environment

Platform: Mac
OS Version: 10.12.5
Node Version: 8.1.2
NPM Version: 5.0.3
Astrum Version: 2.0.0-rc5

[2017-07-10 03:31] ttyling opened #130 "Astrum doesn't compile unless adding or deleting components"
#### Tell us about the issue you are experiencing
Styles don't compile on local server unless restarted or when adding new components. I noticed in (pre-released) v 2.0.05, the CDNJS dependencies are removed. Is there a way to run this now without a server?
thanks!
#### What behaviour would you expect?
Be able to compile new styles without a server.

#### How can this issue be replicated?

#### Sc

[2017-07-10 09:41] RyanHavoc commented on #130
Hey @ttyling. Why would you need to keep compiling the Astrum dependencies? The only thing you should need to compile are your project stylesheets defined in your `data.json` file:

[code]

[2017-07-10 09:42] RyanHavoc commented on #129
@dlewand691 I'll be sure to turn this off in the next release. Thanks!

[2017-07-10 09:53] RyanHavoc commented on #128
Hi @WhatsNewSaes. Apologies for the delay in responding to this! I'm hesitant to enforce a specific config on Astrum as everyones local environments are different. I for example run everything through a Homestead/Vagrant...

With regards to "compiling" Astrum wouldn't a project level gulp watcher that watches for changes to Astrum components and my compiled project stylesheets and then uses browse

[2017-07-10 09:57] RyanHavoc commented on #127
@dnlmzw I'm going to close these issue seen as I haven't heard back from you. If you'd like to discuss further feel free to reopen it.

[2017-07-10 09:57] #127 closed

[2017-07-10 09:58] RyanHavoc commented on #123
@supermueller Do you have an example of this behaviour? Could you maybe record a short screencast?

[2017-07-10 10:00] RyanHavoc commented on #122
@abid-din-akqa I like the idea. I'll add it to our development roadmap.

[2017-07-10 10:03] RyanHavoc commented on #120
@supermueller Interesting idea. I'll add it to our development roadmap.

[2017-07-10 10:06] RyanHavoc commented on #115
@martin-strohsal Apologies for the long delay in getting back to you with this. `release/2.0.0` approaches Astrum rendering a bit differently now. You may want to give it a try and see if it fixes your issue (if it's still an issue...)?

[2017-07-10 10:06] #115 closed

[2017-07-10 10:07] RyanHavoc commented on #113
@welcomebrand The current `release\2.0.0` of Astrum has additional features to prevent style conflicts between Astrum and project styles. It's still in development but it should fix this issue.

[2017-07-10 10:07] #113 closed

[2017-07-10 10:11] RyanHavoc commented on #111
@mischah We've been working on this in for `release\2.0.0` I thought we had an open issue for it but apparently we don't so I've made this the issue.

[2017-07-10 10:14] RyanHavoc commented on #106
@mdentinho I'll add this to the development roadmap. Currently it's pretty straight forward to override Astrum styles by just adding an additional stylesheet that targets Astrum classes but in `release/2.0.0` we're taking a different approach so a `astrum-overrides.css` would be useful.

[2017-07-10 10:16] RyanHavoc commented on #105
@mdentinho I'll add the idea to the development roadmap.

[2017-07-10 10:17] RyanHavoc commented on #104
@mdentinho Good spot. This does need updating. I'll address it in the next release.

[2017-07-11 00:40] purcebr opened #131 "Global settings override with user-specific json file"
Hi! - We're using your tool across several developers, and were interested in possibly implementing a feature that would allow individuals to override the global settings in the data.json file with their own settings. That way, they could have a config that's not checked into git.

Is this something you'd be interested in integrating, If I sent over a PR?

thanks!
Bryan

[2017-07-11 09:36] RyanHavoc commented on #131
@purcebr Interesting idea. To what extent would your data.json files differ?

[2017-07-11 16:32] purcebr commented on #131
@RyanHavoc for the current setup, we're using different "local" copies of the css file. So, each person is simultaneously working on the same sass toolchain independently, and each have a different url for their respective generated css file. This might be pretty specific to our use case, but I'd be curious to hear what you think!

[2017-07-11 18:55] dlewand691 commented on #129
Thanks!

[2017-07-12 10:41] RyanHavoc commented on #131
@purcebr So you're all working on the same CSS but the generated filenames are different for each person?

I am thinking about the best way to allow for environments with Astrum, typically this is for say local, staging, production environments but it would work in your case as well. I'm thinking there'd be the default data.json as it is, but also the option for an assets.json which if present ove

[2017-07-12 17:25] purcebr commented on #131
yeah, absolutely! that would be great.

[2017-07-12 20:10] purcebr commented on #131
Since it's not required, though, I wonder if there would be a better way to check for it than sending a get request? I seems unideal to depend on the 400 level response to see if the environment file is there.

[2017-07-18 18:10] purcebr commented on #131
@RyanHavoc mind if I take a stab at a PR for this update?

[2017-07-18 18:37] RyanHavoc commented on #131
@purcebr Sure. We'll need to replicate whatever you come up with for release/2.0.0 though, or just start from release/2.0.0 as I'm trying to only push bug fixes to master. All the new stuff is going in release/2.0.0.

[2017-07-18 19:18] purcebr commented on #131
curious - Is there another way to conditionally pull in the assets.json file, instead of trying to GET it and checking for a 404? is that the solution you were thinking of? another option could be to add a flag to check for the custom assets file in the data.json, but that's got it's own drawbacks in terms of potential for confusion and general non-userfriendlyness

[2017-07-18 19:33] RyanHavoc commented on #131
@purcebr Astrum can make dozens of requests as it's "building" the pattern library, as it's loading in all the component files and markdown files. I don't think one extra to check for an assets.json file is much of an issue. I'd rather than than having to remember to include a flag.

[2017-07-18 21:14] purcebr commented on #131
@RyanHavoc custom styles and scripts should ADD to, not replace the styles and scripts in the data.json, right?

[2017-07-18 21:17] RyanHavoc commented on #131
@purcebr I'd have them override entirely. Less likelihood of unexpected style conflicts and feels more "environment" like.

[2017-07-18 22:37] purcebr commented on #131
👍

[2017-07-18 22:42] purcebr commented on #131
@RyanHavoc why not allow them to overwrite any top level group, and call the file "custom.json" instead? that way, the custom json structure would mirror the structure of the data.json, so people could use the data.json as a starting point for their environmental overrides.

[2017-07-18 22:52] RyanHavoc commented on #131
@purcebr I thought about this but beyond the assets what other variables would you want to change? My concern is that the data.json file is actively modified by Astrum as you're adding components. We don't want to have to maintain two files for no reason...

[2017-07-20 07:16] schneyra commented on #66
I would really love to see that implemented!

[2017-07-20 15:45] ejwaibel commented on #119
👍 I'm also in need of this as well. Another idea (for quickest solution) is to just allow another array property on the `assets` for `fonts` and accept a wildcard:
[code]

If the wildcard is too complicated, then I would at least like the ability to list out all of the files that should be included as a "font". This would solve my immediate need because the icons are defined by the font-face in th

[2017-07-20 16:22] ejwaibel opened #132 "Only load HTML necessary for selected "group""
#### Tell us about the issue you are experiencing
ALL of the HTML for EVERY component is loaded on the main index.html page.

#### What behaviour would you expect?
Only the HTML associated to the components for the selected "group" should be displayed. We have hundreds of different component examples and having everything on a single page causes it to run very slowly.

#### How can this issue be r

[2017-07-24 08:32] ryzy opened #133 "2.0 status"
Hi,

I'm starting new project and thinking about using Astrum (looks awesome, great job BTW!). Because it's a new project, it'd probably make sense to start it with newer 2.0 version (now beta).

I see we have 2.0.0 branch, but not so much traffic there. Any update on status of 2.0?

What do you think, is 2.0 stable enough to use it commercial company project? Also, I didn't see any material about

[2017-07-24 16:41] purcebr commented on #131
https://github.com/NoDivide/astrum/pull/134

[2017-07-24 16:44] purcebr commented on #131
@RyanHavoc That pr should cover the assets.json file override. Let me know how that looks!

[2017-07-24 18:47] RyanHavoc commented on #133
Hi @ryzy,

Release 2.0 should be pretty stable at this point. Best to look at the commit history for that branch to see what's been added so far. Unfortunately I don't have an ETA for when 2.0 will be ready. I'm working on it as and when I have time at the moment. :-(

[2017-07-24 18:47] #133 closed

[2017-07-25 09:17] ryzy commented on #133
Thanks @RyanHavoc , keep up with that good work!

[2017-07-27 16:31] purcebr commented on #131
I'll check out 2.0 and send over a patch for that branch, as well.

[2017-09-06 11:55] laitine opened #136 "Add ability include CMYK color codes along with HEX codes"
The default color display should have the ability to include CMYK color codes. Now it can only display the HEX defined in data.json. Adding the ability to include the CMYK format for color codes is such a small task that it should be included in the core functionality.

[2017-09-06 11:56] #136 closed

[2017-09-06 11:58] laitine opened #137 "Ability to include CMYK color codes along with HEX codes"
The default color display should have the ability to include CMYK color codes. Now it can only display the HEX defined in data.json. Adding the ability to include the CMYK format for color codes is such a small task that it should be included in the core functionality.

[2017-09-06 12:07] RyanHavoc commented on #137
This is on the development roadmap. Will be included in release/2.0.0.

[2017-09-06 12:07] #137 closed

[2017-10-01 15:53] ricricucit opened #138 "Development Roadmap"
#### Tell us about the issue you are experiencing
The link to the [development roadmap](https://trello.com/b/HVvM0YAb/astrum-development-roadmap) doesn't work. It's probably because the board is set to "private"

#### What behaviour would you expect?
See the dev roadmap.

#### How can this issue be replicated?
Click [here](https://trello.com/b/HVvM0YAb/astrum-development-roadmap) and open with an

[2017-10-01 16:02] RyanHavoc commented on #138
@ricricucit You must have an old link saved. The development roadmap has been moved: https://github.com/NoDivide/astrum/projects/2

[2017-10-01 16:02] #138 closed

[2017-10-01 16:09] ricricucit commented on #138
Thanks!
JFYI: the link comes from [your wiki](https://github.com/NoDivide/astrum/wiki).

[2017-10-04 09:57] kineodavid opened #139 "ui jumps around on hover"
#### Tell us about the issue you are experiencing
On chrome (Version 61.0.3163.100 (Official Build) (64-bit)) when you move the mouse between the content and the navigation block it makes the content jump to the right as the contents scrollbar is removed.

#### What behaviour would you expect?
no movement in the content

#### How can this issue be replicated?
I can see it here: http://astrum.nodiv

[2017-10-04 09:59] kineodavid commented on #111
we use twig templates if we could add support of this that would be great.

[2017-10-04 10:10] RyanHavoc commented on #139
Thanks for highlighting this. We'll address it in the next release.

[2017-10-06 22:40] NonPolynomial commented on #139
a quick qorkaround for this would be a CSS rule which applies a `overflow: scroll` to the content container

[2017-10-13 15:51] douglasdeodato opened #140 "how to run astrum"
Hi guys,

it is any command line to run this app?  I could not run the app after follow the steps **getting started** steps from the readme:

I tried open  public/pattern-library/app/index.html

and the page just shows me that:
Building pattern library...

gettingin my console:

 XMLHttpRequest cannot load file:///home/dlima/LAB/astrum/public/pattern-library/data.json?cb=Fri%20Oct%2013%202017%2017

[2017-10-17 06:49] NonPolynomial commented on #140
hey @douglasdeodato,
this is mostly an security feature of common browsers that no script can access files on the your file system.
Try to run your project on a local server.
If you just have static html pages you can use [`http-server`](https://github.com/indexzero/http-server) or [`serve`](https://github.com/zeit/serve) to run your project under `http://localhost:<port>`.

[2017-10-17 20:08] hankchizljaw opened #141 "Add option to set a component's display order as "last" on create/edit"
One thing I've found while working with Astrum is that I normally want a new component to appear at the bottom of the collection.

Just as there's an option to set the display order as "first" on create/edit, it'd be great to also be able to set it as "last".

[2017-10-17 20:13] RyanHavoc commented on #141
But it defaults to last...? When you get to that position option it should say something like “Position after x component” by default and if you just go with that it will appear last in the collection.

[2017-10-17 20:25] hankchizljaw commented on #141
True, but you have to choose an option don't you? Because of that, you have to find the last component in the list to set your new one as last. It took me a few runs to notice that pressing the up key selects the last component in the collection, even though the helper text tells you that you can.

You could write that off as me being bone-idle though 😂

[2017-10-17 20:29] RyanHavoc commented on #141
I’m going to have to double check this in the morning. The components listed should be in the order they appear in the collection with the one selected being the last one therefore the new component becoming the last one automatically... 😕

[2017-10-17 20:40] hankchizljaw commented on #141
Sorry man, but "first" is selected by default. The components are in the correct order though.

Check out this GIF:
![astrum](https://user-images.githubusercontent.com/8672583/31688266-c5dcd666-b383-11e7-92ab-8a03f507fc9e.gif)

[2017-10-18 08:23] hankchizljaw commented on #141
I think whether it’s currently in place or not, the behaviour you described is better than a “last” option. I think “Position after X” being selected with X being the last one is clearer.

[2017-10-18 10:23] RyanHavoc commented on #141
This actually won't be too difficulty to switch. I'll add it to the roadmap for release/2.0.0. Good catch!

[2017-10-18 10:37] hankchizljaw commented on #141
🚀

[2017-10-24 09:43] acollins1991 opened #142 "Run custom Element UI Vue components as pattern library components"
Is there a way to initiate Vue components as pattern library components?

I'd like to create a custom version of [Element UI](http://element.eleme.io) and import components separately. In the [Element UI documentation](http://element.eleme.io/#/en-US/component/layout) under each component there is a link to JSFiddle, so I think I just need to create a Vue instance for each component. Is there an o

[2017-11-07 11:25] LukeMcGurdy commented on #140
Alternatively, you can open the index.html file in Firefox.

[2017-11-13 11:02] afroleft opened #144 "No clear way to implement SVG Store"
To use an SVG Store we include the [combined file](https://css-tricks.com/svg-sprites-use-better-icon-fonts/#article-header-id-1) just after the `<body>` tag.

Currently I see no way to embed an html element into the `<body>` tag on Astrum.

Is there a method of doing this with the `data.json` file, or should I hard code this in to the Astrum template?

[2017-11-13 11:28] RyanHavoc commented on #144
@afroleft At the minute you'd need to hard code it into the Astrum template (but be aware that the index.html is replaced whenever you update Astrum, so you'll need to add it back in after update).

We'll take a look at adding a more flexible solution going forward.

[2017-11-13 11:41] afroleft commented on #144
Appreciate the response Ryan, thanks

[2017-11-18 22:13] Jaace commented on #49
I think for larger projects this is a must for organizational purposes as well as performance. Something like a new level in the group/component hierarchy, like page/group/component.

[2017-11-22 19:28] arothuis opened #145 "Feature request: precompile pages instead of compiling on page-load"
Currently, it seems pages are compiled upon each pageload, showing the "Building pattern library..." everytime you refresh the page. This makes it difficult to code a design system using astrum as the reloads take a pretty long time.

Akin to static site generators, would it be possible to precompile pages to a static file and directory structure? This would enhance the experience of anyone using

[2017-11-23 17:22] hankchizljaw commented on #141
Fix added in #146

[2017-11-23 17:22] #141 closed

[2017-11-24 09:25] hankchizljaw commented on #144
Hey @afroleft,

I think this is a great suggestion. I do think how we handle icon assets needs some careful consideration so we can support the most popular approaches. I my mind they are:

- Combined SVG sprite, like you mention
- Single, separate SVG files
- Icon fonts
- Bitmap assets such as PNGs

It's also becoming ever-popular to generate simple icons with CSS, but I would argue adding that i

[2017-11-24 09:58] hankchizljaw commented on #140
Hey @douglasdeodato,

The Astrum front-end app is a single page Vue app. It is recommended that you run it in a web server environment though, to avoid issues like you mention.

I'll close this off because @NonPolynomial and @LukeMcGurdy have done a great job of suggesting some approaches for you. Thank you, both 🙂

[2017-11-24 09:58] #140 closed

[2017-11-24 11:33] hankchizljaw commented on #119
Just dropping in to mention that a discussion is ongoing in #144 which very much relates to this 👍

[2017-11-24 11:46] hankchizljaw commented on #142
Hey @acollins1991,

This seems a very specific use-case to me. I could be wrong though.

I think the best thing to do at this stage is to invite the wider Astrum community to make a comment on this and see what they think.

I do however like the idea of including links out to JS Fiddle / Codepen to show more advanced examples of a component/group, so good shout there 🙂

[2017-11-24 11:53] hankchizljaw commented on #145
Hey @arothuis,

I agree that Astrum can get a bit sluggish with larger projects. We are in the process of thinking about how we can speed things up by implementing caches etc.

I'll make a note to update this issue when we know a bit more about how we want approach it as we still want it to be a simple, easy to drop into a project solution.

[2017-11-24 12:10] hankchizljaw commented on #132
Hey @ejwaibel,

Thanks for reaching out!

We're currently discussing how we can speed things up in this sort of context, so I've made a note to keep you informed when we know a bit more about how we're planning to tackle it.

[2017-11-24 12:25] hankchizljaw commented on #111
I love Twig, @kineodavid. I also think [Nunjucks](https://mozilla.github.io/nunjucks/) could be worth considering. It's very similar to Twig in terms of syntax. The documentation is very good too 🙂

It's worth noting that we should consider component level state in a `data.json` file to allow users to do stuff like looping within their components. That would create a nice markup and sample relatio

[2017-11-24 13:34] hankchizljaw opened #147 "Component "focus" Mode"
### Idea
As a possible alternative / companion to the toggling of the sidebar, a "focus" mode could be useful.

Essentially, a user clicks the focus mode button and it pulls that component out into its own window/dialogue that accumulates the entire screen. By presenting like that, we'd also give ourselves the opportunity to offer some basic breakpoint toggles because the gained space would assist

[2017-11-24 16:53] hankchizljaw commented on #104
PR with fix created (#148). Nice catch, @mdentinho 🙂

[2017-11-24 16:53] #104 closed

[2017-11-24 17:00] hankchizljaw commented on #139
I think the `overflow: scroll` is the lightest solution without running some heavy JS logic. Cheers, @NonPolynomial!

[2017-11-25 19:20] giothevanni commented on #38
Hey @RyanHavoc & @hankchizljaw,
I kind of got inspired by Atlassian's Bitbucket sidebar and prototyped something like this:
![sidebar](https://user-images.githubusercontent.com/1641979/33233890-d493d566-d21d-11e7-922a-0809dc4fc9c8.gif)

If you like the direction I'm going with this, let me know, and I'll smoothen the edges of my implementation and post a new PR.

Cheers!

[2017-11-26 15:34] RyanHavoc commented on #38
This isn’t bad, I’m thinking we can go one step further though by:

1. Having the sidebar disappear completely and having open/close tab at the top and it being a little flag that’s fixed in the top left corner so you can expand it again.
2. Have the component containers go full width, so drop the left and right border and margin.
3. The component container has inner padding which we’d want to kee

[2017-11-26 16:44] giothevanni commented on #38
Thanks for the extensive feedback, @RyanHavoc!

I think that works better with a small redesign of the sidebar/navbar in the handheld breakpoint for consistency, like putting the menu icon in the upper left corner, instead of the upper right. I think that would be a good way to go at it.

I think that the possibility of having the components being displayed in a "clean" context without margin or p

[2017-11-26 16:47] RyanHavoc commented on #147
This idea is a natural progression from #38. I like this idea.

[2017-11-26 17:24] RyanHavoc commented on #38
I think this boils down finding a solution to the edge-to-edge requirement. Not all components need to have it, generally a majority don’t and would look odd if there where, for example a button touching the edge of the screen would just look broken from a presentation point of view. But a component level option to be edge-to-edge would address the issue however it only works if there no sidebar.

[2017-11-26 18:30] giothevanni commented on #54
This feature request is loosely related to both #38 and #147.

[2017-11-26 19:25] RyanHavoc commented on #53
@hankchizljaw let’s review this request.

[2017-11-26 22:10] giothevanni commented on #129
Hey @RyanHavoc,
hoping this to be a quick win, I started taking a look at it and just kept running into walls, at first webpack was complaining that the config needs an absolute path for output, which I changed according their docs. After that, an UglifyJs compilation error (see Screenshot below)

<img width="1040" alt="screen shot 2017-11-26 at 21 47 18" src="https://user-images.githubusercontent

[2017-11-27 18:14] hankchizljaw commented on #131
Hey all,

I've picked this up now. I'm going to do a fully overridable `data.json` setup so that a user can have a completely customised environment. The manager will still only affect `data.json` though, so it's probably worth ignoring the components and pages when the data is merged. What do you folks think?

I'll call the local file `env.json`.

Thanks for the PR @purcebr, it's great work. The

[2017-11-27 20:47] afroleft commented on #144
Agreed.

I think [your current implementation](http://astrum.nodividestudio.com/pattern-library/#group-branding-component-icons) is fine for preview, we just need a means to implement Stores.

With SVG Store, a way to inject an HTML block that follows the `<body>` tag would be helpful enough for now.

[2017-11-28 09:42] hankchizljaw commented on #144
I'd argue, like colours, the preview would need to be auto generated and not rely on the the user to render the previews.

I think an SVG store would satisfy a subset of users (including myself), but we wouldn't want to roll out a feature that would immediately be useless to a large set of users.

On the subject of the SVG store, I'll pull it back to the concept of each approach having custom trea

[2017-11-28 11:29] welcomebrand opened #149 "Descriptions.md not loading on IIS [Fixed - Sharing info]"
I don't suppose you have many Windows users but reporting this just in case you want to update your install docs for those who may run into this issue. Details and fix below.

Cheers.

#### Tell us about the issue you are experiencing
When you install Astrum for the first time on a Windows server it's possible that when you view the styleguide you'll get an error saying the library description fil

[2017-11-28 11:48] hankchizljaw commented on #149
Thanks for this @welcomebrand, We really appreciate it!

I'll assign myself to update the installation documentation 🙂

[2017-11-28 12:12] hankchizljaw commented on #149
PR created: #150

Thanks again, @welcomebrand!

[2017-11-28 12:12] #149 closed

[2017-12-10 16:11] rossmc opened #151 "upgrading to release/2.0.0 ?"
#### Tell us about the issue you are experiencing
Just a couple of questions...

1. Will version 2 be compatible with version 1?
2. How can I upgrade to release/2.0.0?

#### Your environment

Platform:
OS Version: OSX v 10.12.6
Node Version: v6.11.3
NPM Version: 5.3.0
Astrum Version: 1.9.5

[2017-12-11 15:14] hankchizljaw commented on #151
Hey Ross,

Here's your answers:
1. We'll be working hard to make sure there are very few, if any breaking changes in version 2. We certainly don't want to make it difficult to upgrade.
2. The `release/2.0.0` branch is a pre-release, work in progress branch. You can use it though by checking it out and then running `npm link` inside of the `astrum` directory.

I hope that helps!

[2017-12-11 15:14] #151 closed

[2018-01-08 22:29] craigpryde opened #152 "Overflowing Content visible when flex item is added to markup.html without container"
#### Tell us about the issue you are experiencing
When adding an element to the style guide that is mostly flexbox based without a container. The content spills onto the Introduction page as the pre-loaded content wrapper cant contain the flex items.

#### How can this issue be replicated?
Add Multiple items to Astrum markup.html files that contain wrappers that are flex based.

#### Screenshots /

[2018-01-12 14:36] hankchizljaw commented on #152
Resolved with #153. Thanks for your help @craigpryde!

[2018-01-12 14:36] #152 closed

[2018-01-17 15:36] niho28 opened #154 "Vue Resource and Data.Json issue"
#### Tell us about the issue you are experiencing
When booting up the index.html page it sticks on pattern libruary loading screen

#### What behaviour would you expect?
To load screen as normal

#### How can this issue be replicated?
Create a repo and open up in chrome

#### Screenshots / Screencast
![untitled-1](https://user-images.githubusercontent.com/17451558/35050958-fe12c81e-fb9b-11e7-897f-

[2018-01-23 12:37] nadalsol opened #155 "'index.html' not loading in Chrome"
#### Tell us about the issue you are experiencing

I'm trying to open the `index.html` file from Chrome, though I'm getting a permanent "Building pattern library..." message (pattern library doesn't get loaded).

Besides, I'm getting several error messages in the JS console:

![screen shot 2018-01-23 at 13 21 42](https://user-images.githubusercontent.com/3439783/35275784-22bc5f78-0041-11e8-8ad2-8b

[2018-01-23 22:06] hankchizljaw commented on #155
Hey @nadalsol, thanks for reaching out!

The Astrum front-end app is a single page Vue app. It is recommended that you run it in a web server environment though, to avoid issues like you mention.

Please see #140 where @NonPolynomial and @LukeMcGurdy made some great suggestions.

[2018-01-23 22:06] #155 closed

[2018-01-24 11:08] nadalsol commented on #155
Hi @hankchizljaw , thanks for your answer.

I'm just pointing his out because I haven't found documentation about "How to run Astrum", so it has been confusing for me.

What about adding it to your [README.md file](https://github.com/NoDivide/astrum/blob/master/README.md)?

Congratulations for this great piece of work! 👏

[2018-01-24 11:17] hankchizljaw commented on #155
Thanks @nadalsol!

I agree. I'll put an issue together to update the docs.

[2018-01-24 11:35] Andy-set-studio opened #156 "Update the readme to explain about local server setup"
There have been a few people having issues running Astrum within the filesystem recently. We haven't made it clear enough that Astrum needs to be run on a web server.

Let's add a section to the readme that gives advice on a couple of options.

[2018-01-24 18:48] bloqhead commented on #62
I just ran into the same thing. The thing that solved it was to use `astrum delete [item]` and then I recreated it with a different name. I had a component named "hours" (like an "hours of operation" kind of deal) and I renamed it to "hours-of-operation". Not sure why but after I did that, the element rendered just fine and the message was gone.

Before I did this, I checked my `data.json` file an

[2018-01-26 12:34] dsagner commented on #149
I've successfully edited my MIMETYPE setting on IIS and I added the IISMarkdownHandler locally to my .NET MVC project, the markdown content is now getting read and inserted to it's respected placeholders, but before each of them I get a "<!doctype html>" tag rendered whether or not the description.md file contains some text inside it. I have this only locally on my machine, therefore a screenshot

[2018-02-04 09:35] dsagner opened #157 "Descriptions loading and present, but with <!doctype html> tag printed on page"
I've successfully edited my MIMETYPE setting on IIS and I added the IISMarkdownHandler locally to my .NET MVC project like described in this [Issue](https://github.com/NoDivide/astrum/issues/149), the markdown content is now getting read and inserted to it's respected placeholders, but before each of them I get a "<!doctype html>" tag rendered whether or not the description.md file contains some c

[2018-02-06 09:49] hankchizljaw commented on #157
Thanks for this @dsagner. I'll put this under investigation for now.

We're all Mac users here, so it'll be tough to recreate this one. If anyone else in this community can help us out, we'd really appreciate it! We want Astrum to work well wherever it's being deployed 🙂

[2018-02-06 14:42] dsagner commented on #157
Some extra information that might help. I've added the MIMETYPE setting to my web.config file under the system.webserver - handlers tag (see below)
`<add name=".md extension" path="*.md" verb="GET" resourceType="File" requireAccess="Read" type="IISMarkdownHandler.IISMarkdownHandler, IISMarkdownHandler"/>`
AND in the Features View under MIME Types in the IIS Manager. The extension was ".md" (since

[2018-02-22 08:06] upstroke commented on #145
What about porting this project to NuxtJS? Thats's what I am looking at right now.

[2018-02-23 15:11] ekaoddlass opened #159 "How to deploy?"
#### Tell us about the issue you are experiencing

Hi, how do I deploy this app (either as a static site *or* as a JS app to Heroku)? I tried installing express (following [this](https://dev.to/jmbejar/how-to-quickly-deploy-a-vuejs-app-to-heroku-5b0f) and [this](https://medium.com/dirtyjs/how-to-deploy-vue-js-app-in-one-line-with-docker-digital-ocean-2338f03d406a)) but I could not find the correct

[2018-02-23 19:07] #159 closed

[2018-02-26 14:12] BartdeBruin opened #160 "Addition for the Component Types"
#### Tell us about the issue you are experiencing
We have some gradients in our styleguide. We are not able to add them in a color component way. And have to create our own with a default component.

#### What behaviour would you expect?
Possible to add gradients as a color component.
I would expext to enter multiple colors, direction etc. Actually all settings you can do with css3.

[2018-03-04 20:18] craigpryde commented on #5
Hi Folks,

I have partially integrated this into my current project. I have not bolted this onto the Astrum framework as I believe this can be accomplished using a build system like gulp.

**My Setup**
I currently have Astrum running with handlebars templating alongside JSDos3 for all my documentation needs. I have set up custom tasks within gulp to separate any documentation from the rest of the

[2018-03-04 20:25] craigpryde commented on #128
Hey Folks,

For anyone requiring assistance with the above, I've posted a reply on this thread: https://github.com/NoDivide/astrum/issues/5

with my setup using gulp.

[2018-03-04 20:39] craigpryde commented on #144
Hey folks,

I have been using svgstore on my current personal project and have implemented a workaround which uses a custom node script to build each svg generated within svgstore into a html svg element that can be loaded with astrum. I have the below appearing within my styleguide:
![image](https://user-images.githubusercontent.com/8403372/36950205-7a8dd560-1fea-11e8-89c2-10c1bc4ac71c.png)

**Wh

[2018-03-19 18:59] mhacker32 opened #161 "Trouble Initializing Astrum"
#### Tell us about the issue you are experiencing
When I try to view the initial pattern library after setting up Astrum (not sure if I did it right, I am thinking no), I do not see what I as supposed to according to the help video I watched. I am using Atom on my Mac as my IDE and I am sure I messed something up in setting it up, but I have no idea what is wrong. I am more of a designer, not a de

[2018-04-02 18:49] marcelmoreau opened #163 "applying border to color elements results in float layout breaking"
#### Tell us about the issue you are experiencing
I am laying out a grayscale color palette. The floats are not working as expected due to a border being applied to a light color shade's container. This makes its element 2 pixels taller than other colors. I have made said border blue in my example screenshot. Consider using an inset box-shadow instead of border for the next release. This will not

[2018-04-04 17:14] codingwithchris opened #164 "Make Sidebar Collapsible"
#### Tell us about the issue you are experiencing
The sidebar currently takes up too much of the viewport. When trying to do responsive dev, I have to manually hide the sidebar with css in the console and remove the side padding on the `ndpl-content` in order to be able to accurately determine `px` values for breakpoints.

I am building design systems within Astrum where each component is responsi

[2018-04-19 13:41] jasonglisson commented on #161
I'm also using a Mac and when I navigate to my Astrum installation, all I see is a "Building Pattern Library" screen. It's been on this screen for an hour while I've been doing other things. It's a shame too. We have very little time to make a decision on pattern library building tools and this would have been ideal for the look and feel. Unfortunately, we'll have to go in another direction since

[2018-05-04 11:30] giothevanni opened #165 "v2.0 release/scope?"
Hey @RyanHavoc & @hankchizljaw,

I wanted to ask you, if you've had the time to think about or plan the release date and scope of v2.0. If I understand correctly, your plans were to release v2.0 before keep adding new features to the v1.*

In that spirit I started working on #129, for you to at least have one thing less to worry about before releasing v2.0. I do think that the feature freeze in v1

[2018-05-11 15:07] Andy-set-studio opened #166 "Discussion: Astrum front-end rebuild"
This is a discussion issue to talk about the front-end application rebuild of Astrum. You can read more about it [here](https://medium.com/no-divide/astrum-looking-forward-3e3973b08f62).

[2018-05-22 12:39] mongru commented on #161
I'm having the exact same issue as @jasonglisson also on a Mac.

<img width="1217" alt="screen shot 2018-05-22 at 13 27 34" src="https://user-images.githubusercontent.com/22171832/40362526-a7598090-5dc4-11e8-863e-813d5e8604dc.png">

Platform: Mac
OS Version: macOS High Sierra 10.13.4
Node Version: 8.11.1
NPM Version: 5.6.0
Astrum Version: 1.9.5

Anyone had any success in fixing this?

[2018-06-11 11:36] burn1ng commented on #139
I made the pull request for this issue. https://github.com/NoDivide/astrum/pull/158

[2018-06-12 12:41] LarissaBruebach commented on #53
Would love to see this feature as well! Are you still actively working on this project?

[2018-06-12 12:52] hankchizljaw commented on #53
Hey @LarissaBruebach. We are working on the project, but we're working on a core rebuild of the JavaScript application that runs Astrum. You can read more [here](https://medium.com/no-divide/astrum-looking-forward-3e3973b08f62).

[2018-06-13 12:32] tharakanilupul commented on #107
Hi mdentinho,

I also used to grouping components such as Atomic Component, Molecular Component. I have tried to go with you solution, but still stuck with it.

Can you provide sample data.json file for above changes.

Cheers, Tharaka

[2018-06-13 14:09] dlewand691 commented on #53
Oh wow! Excited to see how Astrum evolves. Can you share any details...ETA, features, etc etc? Thanks!

[2018-07-13 13:09] elmarko commented on #161
Working for me in Firefox 61.0.1, not working in Safari 11.1.1 or Chrome67

Platform: Mac
OS Version: macOS High Sierra 10.13.5
Node Version: 9.2.0
NPM Version: 6.1.0
Astrum Version: 1.9.5

[2018-07-15 15:03] mongru commented on #161
Thanks, read #140 and solved my problem. I was using Chrome67.

[2018-07-30 09:44] renzo-s commented on #142
Using Vue components would be nice. Since Astrum is build on Vue, I'm guessing embedding a fiddle/pen shouldn't be necessary? Would be nice if the component could be mounted inline.

[2018-08-13 14:46] munroAllie commented on #65
@RyanHavoc Your solution above worked but only when I called the script in the header of the index.html. For some reason when I called it in the data.json, the **DOMNodeInserted** never fired.

i see above you added this support for version 1.8, I am running version 1.9.5 and I had to use your fix manually.

[2018-10-09 10:06] iMansoorAliKhan opened #167 "No option to remove, no way to un-init"
#### Tell us about the issue you are experiencing

#### What behaviour would you expect?

#### How can this issue be replicated?

#### Screenshots / Screencast

#### Your environment

Platform:
OS Version:
Node Version:
NPM Version:
Astrum Version:

latest version installed for the very first time. No way to remove the package, no way to un-init a location always shows error that already initializ

[2018-10-09 10:35] RyanHavoc commented on #167
You just delete the folder at the location you initialised it to.

[2018-10-09 10:35] #167 closed

[2018-10-12 15:30] bekahmcdonald commented on #161
Also having this problem in Chrome 69 and Safari 12.0 on a Mac.

[2018-10-22 15:39] RustlerCJ commented on #164
I believe I could handle implementing this. Astrum Team, would this be an example of a Feature Request that might be merged upon completion?

[2018-11-19 15:02] AdrianoCahete commented on #25
Any update on this?

[2018-11-21 10:19] NonPolynomial opened #169 "Got stuck in creation process of new components"
#### Tell us about the issue you are experiencing

Got stuck in creation process of new components with new groups in new astrum projects.

#### What behaviour would you expect?

I can create a new component in a new initialized astrum project.

#### How can this issue be replicated?

[code]

#### Screenshots / Screencast

![render1542795324252](https://user-images.githubusercontent.com/11672744/4

[2018-11-22 10:51] nod74 commented on #169
Hi, I had the same problem, took me very long to figure out that astrum does not work with newer Versions of node.js. I could get it running with version node-v8.3.0.

[2018-11-24 15:18] NonPolynomial commented on #169
yeah, I know that it did work on my machine some time ago.
but now my tech stack is predefined and I have to use that Node version.
would like to use astrum as pattern library tool :/

What drives me crazy is, that there is no Exception message or something, WHY it doesn't work with the newer Node version...
Maybe some uncaught Promise rejections?

[2018-11-28 14:42] WolfieZero opened #170 "Future of project with No Divide closure?"
With the news that [No Divide](https://ryanhavoc.com/blog/a-new-chapter) closing, I wondered what's the future of Astrum going forwards?

Aside from that, all the best to Dan, Ryan and Andy!

[2018-11-28 14:44] RyanHavoc commented on #170
I’ll be continuing Astrum as a personal project. I’ll write a post about my plans for it in the new year. 😉

[2018-11-28 14:44] #170 closed

[2018-11-28 23:04] DanCanetti commented on #170
Great to hear and congrats to you and Dan on the new jobs!

[2018-11-30 13:36] nod74 commented on #169
we had problems get astrum to work online, and the "typekit" made the problems so deleted the typekit option in the json file. Might be the solution or the fix for this Bug

[2018-12-01 11:07] eirichmond opened #171 "Component is hidden when using absolution positioning"
#### Tell us about the issue you are experiencing
in my patten library a component is showing a 'This component is hidden at this resolution.' panel instead of my component because my component has absolute positioning applied to it, if I disable absolute positioning it appears

#### What behaviour would you expect?
To show the component and its markup

#### How can this issue be replicated?
marku

[2018-12-01 11:43] RyanHavoc commented on #171
Hi. There’s a `disabled_auto_sample_hiding` option available for components. Search the `README.md` to find the details. That will allow you to override the behaviour you're seeing. Hope that helps.

[2018-12-01 11:43] #171 closed

[2018-12-05 13:53] JonasEriksson commented on #25
My vote for adding this as well, fine enough to manually add it into the colors section right now if possible (how?). It seems very clear that variable names, using SCSS etc., are very important to a styleguide/pattern-library, not just the finished hex value.

[2018-12-05 13:54] JonasEriksson commented on #92
My vote for adding this as well, fine enough to manually add it into the colors section right now if possible (how?). It seems very clear that variable names, using SCSS etc., are very important to a styleguide/pattern-library, not just the finished hex value. Is this coming at all, given it's been a year? Thanks for considering it!

[2018-12-05 16:12] RyanHavoc commented on #92
Yes, definitely something I'll be adding, but it's part of a wider overhaul I'm planning for Astrum. Backward compatibility but practically a rewrite from the ground up with lots of new features (including this!).

[2018-12-19 13:19] ultraloveninja opened #172 "Getting EACCES: permission denied when trying to init"
#### Tell us about the issue you are experiencing
When I try to run `astrum init /pattern-library` within the folder that I am trying use, I get this error:

[code]

#### What behaviour would you expect?
Was hoping it would run as expected..?

#### How can this issue be replicated?

#### Screenshots / Screencast

#### Your environment

Platform: MacOS
OS Version: Mojave
Node Version: 11.1.0
NPM Ve

[2018-12-19 13:20] #172 closed

[2018-12-19 13:21] ultraloveninja commented on #172
Actually, disregard. Looks like there was something messed up on my end with my directory structure.

[2018-12-19 13:29] ultraloveninja opened #173 "Installing into folder other than Public?"
#### Tell us about the issue you are experiencing
I noticed that when I was trying to initialize Astrum that I couldn't run it within a different folder I was changed into (e.g. - `~/folder-name/pattern-library`). I would be getting the `EACCES: permission denied` error.

But when I would run `astrum init ./folder-name/pattern-library` (as stated in the docs) it works fine but I need to be backed

[2018-12-19 13:34] #173 closed

[2018-12-19 13:35] ultraloveninja commented on #173
Ok...again...never mind. It appears that it's working now. Not sure what happened. UGH.

[2019-01-10 16:12] jostermanAtPEW opened #174 "Add support for type="module" script tags so we can use ES6 import/export"
I have a commit providing this functionality on my local fork. Happy to make the pull request; your docs say to ask first.

#### Tell us about the issue you are experiencing

import / export syntax in javascript files listed in assets.js fails because they are loaded without the type="module" attribute

#### What behaviour would you expect?

the choice to separately list javascript assets that sho

[2019-01-14 10:12] ljelewis commented on #142
We have a similar use case, which I'd guess would be fairly common. We have a library of Vue components and these are the components we'd like to catalogue in the design system. The code samples entered into the markup.html for each component would therefore show the markup needed to use the Vue component, e.g:

[code]

[2019-01-16 13:17] NonPolynomial commented on #142
Just read this issue in my break, so I can't look into it right at the moment.

The best approach woul be to look up how that feature is implemented right now in [vuepress](https://github.com/vuejs/vuepress) and somehow adapt it.
There you can use Vue components in Markdown files.

[2019-01-22 21:03] jdnm13 opened #175 "Cannot create Components: stuck on "Disable code Sample?""
#### Tell us about the issue you are experiencing
When i try to create a component the cmd stops working after selecting an option for "?disable code sample?".

#### What behaviour would you expect?
should continue to name my group and finish creating the component

#### How can this issue be replicated?

#### Screenshots / Screencast
https://imgur.com/a/q61b44r

#### Your environment

Platform: W

[2019-01-23 20:12] #175 closed

[2019-02-13 02:19] fienen opened #176 "Load error references wrong file"
#### Tell us about the issue you are experiencing
Started having problems with the system loading files. Was getting confused by errors referring to "html.md," even though the system generates a file that's "markup.html." As it turns out the, file name is just hardcoded into the error that gets thrown and needs updated. My guess is, at some point, the name of the file in use changed.

Relevant lin

[2019-02-15 06:35] lDestiny commented on #2
During component options setup, the scenario is stoped. What I do wrong?
![image](https://user-images.githubusercontent.com/10610518/52838782-9ecfbf00-3115-11e9-9cd8-e70fd686c588.png)
Win10 Pro 64 Node 8.1.0, npm 10.13.0, Astrum 1.9.5

[2019-02-20 12:24] milotindragos commented on #142
Would be interesting to have `Vue components` inside **Astrum** something like what [Catalog.style](https://www.catalog.style) is doing with [React Components](https://docs.catalog.style/specimens/react) seeing it was built with `React`.

[2019-03-04 21:53] alijaffar opened #177 "Infinite preloader"
#### Tell us about the issue you are experiencing
The publicly accessible output is inaccessible as the preloader loops, infintely.

#### What behaviour would you expect?
I expected a short preload, and then the patterns library to load

#### How can this issue be replicated?
Check out a copy of the code and add a component and basic configuration.

#### Screenshots / Screencast

#### Your environ

[2019-03-14 17:25] mdalberto commented on #169
Is there any plan/eta on work to get this to run on the latest Node.js version (I'm on Windows and running a down grade version is off the table)?

[2019-03-15 08:03] leex279 commented on #26
Any updates on this yet? :)

[2019-03-20 18:30] NonPolynomial commented on #2
@lDestiny The only thing that the CLI does, is to extend the astrum config with objects and to write template files (`.md` & `.html`).
So you could create those files yourself and write your new component in the astrum config file.

[2019-03-21 04:23] lDestiny commented on #2
@NonPolynomial thanks, already do it. I'm very sorry, that the development of this project was to end.

[2019-03-25 09:31] fschoenfeldt commented on #177
Did you actually install astrum properly? Did you try running the app on a webserver (for example nginx or xampp/apache)? For me, running astrum on a webserver fixed that issue.

[2019-05-21 11:36] quikki13 commented on #177
Dude, you should to load node js v 8.3.0
It is work for me

[2019-10-03 19:42] joeangry commented on #169
I've submitted a pull request that fixes this hopefully it'll be merged in!

[2019-10-18 21:39] Davy803 commented on #2
@NonPolynomial Same issue as @IDestiny  with Win 10 x64, Node 12.12.0, npm 6.11.3, Astrum 19.5.

[2020-04-03 12:33] SilverTee opened #181 "window.onload doesn't work"
#### Tell us about the issue you are experiencing
I want nested checkboxes in my patternlib but when i try to use the costum javascript code from w3 it doesn't get executed.

Im trying to include these nested checkboxes:
https://www.w3.org/TR/wai-aria-practices/examples/checkbox/checkbox-2/checkbox-2.html

#### What behaviour would you expect?
I would expect that the Javascript code is executed.